@charset "utf-8";

/**
 *      [品牌空间] (C)2001-2010 Comsenz Inc.
 *      This is NOT a freeware, use is subject to license terms
 *
 *      $Id: common.css 4435 2010-09-14 07:08:12Z fanshengshuai $
 */ /* 全局CSS定义 */
html,body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,input,lable,textarea,p,blockquote,td
	{
	margin: 0;
	padding: 0;
}

body {
	background-color: #FFF;
	text-align: left;
}

body,textarea {
	font: normal 100 12px Simsun, Arial;
	color: #333;
}

a:link,a:visited {
	text-decoration: none;
	color: #333;
}

a:hover {
	text-decoration: underline;
	color: #0657b2;
}

em {
	font-style: normal;
}

h1,h2,h3,h4,h5,h6,strong {
	font-weight: 800;
	font-size: 100%;
}

label,input,select {
	vertical-align: middle;
}

img,button {
	background: none;
	border: none;
}

ol,ul,li {
	list-style: none;
}

table,td {
	border: none;
	border-collapse: collapse
}

.c {
	clear: both;
}

.h10 {
	height: 10px;
}

.mt10 {
	margin-top: 10px;
}

.red {
	color: #ff6600;
}

.acb {
	font-weight: bold;
	font-size: 16px;
}

.b {
	font-weight: bold;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

/* 强化连接颜色 */
.c_deepen a,.c_deepen a:visited {
	color: #0657b2;
}

.c_deepen a:hover {
	color: #fc6d02;
}

.checkbox {
	border: none;
}

/* 文本框{单行} */
.inp_radio input,.inp_checkbox input {
	width: 13px;
	height: 13px;
	vertical-align: middle;
}

body .inp_txt_active {
	border-color: #7DBDE2;
}  /* -_- */
.navgation .layout {
	margin: 0 auto;
	width: 980px;
	overflow: visible;
}

.iblock {
	display: inline-block;
	*display: inline;
	zoom: 1;
}

.clearall {
	zoom: 1;
}

.clearall:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

/* 维护公告 */
.announce {
	position: relative;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 30px;
	line-height: 29px;
	background: url(../image/bg_nav_repeat.gif) repeat-x 0 -187px;
}

.announce div {
	position: relative;
	z-index: 0;
	margin: 0 auto;
	width: 980px;
	height: 30px;
	color: #FF4800;
	background: url(../image/bg_nav_repeat.gif) repeat-x 0 -187px;
}

.announce .announce_closed {
	display: block;
	position: absolute;
	right: 0;
	top: 6px;
	padding: 2px 20px 0 0;
	width: 50px;
	height: 12px;
	line-height: 12px;
	text-indent: 0;
	text-align: right;
	color: #666666;
	background: url(../image/bg_navmain.gif) no-repeat 56px -542px;
	cursor: pointer;
}

.navgation {
	margin-bottom: 10px;
	position: relative;
	z-index: 100;
	width: 100%;
	min-width: 980px;
	zoom: 1;
	background: url(../image/bg_header.png) repeat-x 0 0;
}

.navgation a:link,.navgation a:visited {
	color: #324F64;
}

.navgation a:hover {
	text-decoration: none;
}

.nav_header {
	position: relative;
	z-index: 5;
	height: 100px;
	overflow: hidden;
	background: url(../image/bg_nav.jpg) no-repeat 0 0;
}

.nav_sz {
	background: url(../image/bg_nav_sz.jpg) no-repeat 0 0;
}

.nav_common {
	position: absolute;
	left: 0;
	width: 980px;
	height: 70px;
}

.nav_common .top_ad_area {
	width: 700px;
	height: 50px;
	float: right;
	margin-top: 9px;
	background: #CCCCCC;
}

.nav_header h3,.nav_header h2 {
	float: left;
	_display: inline;
	font-weight: 800;
	overflow: hidden;
}

.nav_header h3 {
	margin: 21px 0 0 10px;
	padding: 0;
	width: 70px;
	height: 33px;
	line-height: 33px;
	text-indent: 0;
	background: none;
	border: none;
	text-align: center;
}

.nav_sz h3 {
	display: none;
}

.nav_header h3 a:link,.nav_header h3 a:visited {
	display: block;
	margin: 0 auto;
	height: 31px;
	line-height: 31px;
	font-family: "黑体";
	font-size: 30px;
	color: #FFF;
	vertical-align: middle;
}

.nav_header h2 {
	margin: 15px 0 0 12px;
	width: 200px;
	height: 42px;
	background: url(../image/pklogo.gif) no-repeat 0 0;
}

.nav_header p {
	width: 710px;
	height: 1px;
}

.nav_sz h2 {
	margin-top: 10px;
	width: 160px;
	height: 48px;
}

.nav_header h2 a {
	float: left;
	padding-left: 100%;
	width: 0;
	height: 100%;
	overflow: hidden;
}

.nav_uinfo {
	width: 980px;
	font-size: 12px;
	font-family: "宋体";
	height: 30px;
	text-align: right;
}

.nav_uinfo a:hover {
	color: #0657B2;
	text-decoration: underline;
}

.dianpu-guanli {
	padding: 0 20px 0 0;
	line-height: 22px;
	background: url(../image/dianpu-guanli.gif) no-repeat;
	margin-top: 2px;
	display: block;
	float: right;
	width: 330px;
}

/* @group 登录表单 */
.login_panel {
	height: 30px;
}

.loginform {
	float: right;
	padding-top: 5px;
	height: 30px;
}

.loginform td {
	vertical-align: middle;
}

.loginform #login_authcode_img {
	display: none;
	z-index: 100;
}

.loginform input {
	height: 20px;
	line-height: 18px;
	width: 64px;
	border: 1px solid #C6C6C6;
	vertical-align: middle;
	padding: 0;
	margin: 0;
}

.loginform li {
	margin-bottom: 1px;
	padding-top: 4px;
	height: 26px;
	line-height: normal;
	overflow: hidden;
}

.loginform li .inp_text {
	width: 150px;
	float: left;
}

.loginform li .inp_checkbox {
	width: 75px;
	float: left;
	margin-top: 5px;
	font-size: 12px;
}

.loginform li .inp_sm {
	width: 75px;
	float: left;
}

.loginform li a {
	float: right;
	margin-top: 5px;
}

.loginform .iblock {
	vertical-align: middle;
}

.loginform .inp_text input {
	padding: 3px 0 0 3px;
	width: 85px;
	height: 17px;
	line-height: 13px;
	border: 1px solid #DADADA;
	vertical-align: middle;
	background: url(../image/bg_inp_text.gif) no-repeat 0 0;
}

.loginform .inp_text_active input {
	border-color: #7DBDE2
}

.loginform .inp_checkbox input {
	margin: -1px 3px 0 0;
}

/* @end */
.inp_sm input {
	height: 22px;
	line-height: 20px;
	width: 64px;
	border: 1px solid #C6C6C6;
	vertical-align: middle;
	background: url(../image/bg_navmain.gif) repeat-x 0 -236px;
}

/*登录后*/
.nav_uinfo dl {
	height: 30px;
	width: 800px;
	float: right;
	text-align: right;
	margin-right: 10px;
}

.nav_uinfo_dt {
	padding: 3px 6px;
	width: 22px;
	height: 22px;
	overflow: hidden;
	float: right;
}

.nav_uinfo dd {
	float: right;
}

.nav_uinfo dd li {
	height: 30px;
	line-height: 30px;
	float: right;
	padding: 0 3px 0 3px;
}

#show_navmsg {
	margin: 0 0 0 -4px;
}

#nav_message_handle.on {
	border: 1px solid #CBD2AF;
	border-bottom: none;
	border-top: none;
	background: #FFF;
}

.nav_msg_active .nav_msgcount {
	display: block;
	width: 50px;
	height: 30px;
	line-height: 20px;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

#nav_myshops_handle.on {
	border: 1px solid #CBD2AF;
	border-bottom: none;
	border-top: none;
	background: #FFF;
}

#show_myshops {
	top: 30px;
	margin-left: -4px;
}

#show_myshops li {
	clear: left;
	float: left;
	height: 20px;
	line-height: 20px;
	padding-top: 5px;
	white-space: nowrap;
}

.nav_myshopslist {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #CBD2AF;
	min-width: 100px;
	text-align: left;
}

.nav_myshopslist ul {
	margin: 5px;
}

.nav_newmsg {
	padding-left: 22px;
	margin-top: -1px;
	width: 0;
	height: 13px;
	vertical-align: middle;
	background: url(../image/bg_navmain.gif) 2px -448px;
	overflow: hidden;
}

.nav_msglist {
	z-index: 1;
	visibility: hidden;
	border: 1px solid #CBD2AF;
	height: 84px;
	text-align: left;
	white-space: nowrap;
	background: #FFF;
	overflow: visible;
}

.nav_msg_active .nav_msglist {
	visibility: visible;
}

.nav_msg_active .nav_msglist_right {
	left: auto;
	right: 0;
}

.nav_msglist ul {
	margin: 2px 5px;
	background: url(../image/bg_navmain.gif) no-repeat 0 -808px;
	overflow: visible;
}

.nav_uinfo .nav_msglist li {
	clear: left;
	float: left;
	padding-top: 5px;
	height: 20px;
	line-height: 20px;
	white-space: nowrap
}

.nav_msglist li a:link,.nav_msglist li a:visited {
	color: #666;
}

.nav_msglist li span {
	color: #FF6600
}

.nav_msglist li a:hover,.nav_msglist li a:hover span {
	color: #0657b2
}

.nav_item {
	position: relative;
	z-index: 4;
	height: 35px;
	width: 100%;
	background: url(../image/bg_nav_repeat.gif) repeat-x 0 -97px;
}

.nav_item_list {
	float: left;
	overflow: hidden;
	height: 35px;
	overflow: hidden;
	width: 700px;
}

.nav_item_list li {
	float: left;
	margin-right: -2px;
	padding-right: 2px;
	width: 98px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	background: url(../image/bg_nav_repeat.gif) no-repeat 89px -142px;
}

.nav_item_list li a {
	display: block;
	width: 98px;
	height: 35px;
	line-height: 35px;
	font-size: 14px;
	overflow: hidden;
}

.nav_item_list .active a,.nav_item_list .active a:visited,.nav_item_list li a:hover
	{
	font-size: 16px;
	font-weight: 800;
	color: #FFF;
	background: url(../image/bg_navmain.gif) no-repeat 0 0;
}

.nav_item_list a span {
	padding: 0 10px 0 5px;
	background: url(../image/bg_navmain.gif) no-repeat 64px -667px
}

.nav_item_list .active a span {
	background-position: 76px -697px;
}

.nav_item_list a:hover span {
	background-position: 76px -729px;
}

.nav_forumbox {
	position: relative;
	z-index: 3;
}

.nav_forum {
	position: relative;
	z-index: 3;
	margin: 0 auto;
	width: 980px;
}

.nav_forum_club {
	margin: 0;
	position: absolute;
	top: -85px;
	left: 0;
}

.nav_forum .nav_forum_list {
	width: 978px;
	border: 1px solid #E3E3E3;
	border-top: none;
	background: url(../image/bg_nav_repeat.gif) repeat-x 0 bottom;
}

.nav_forum dl {
	float: left;
	position: relative;
	z-index: 1;
	width: 121px;
	height: 23px;
	border-right: 1px solid #EDEDED;
}

.nav_forum dt {
	margin: 0 auto;
	width: 119px;
	height: 21px;
	zoom: 1;
}

.nav_forum dt a {
	display: block;
	padding: 1px;
	height: 21px;
	line-height: 19px;
	font-size: 14px;
	overflow: hidden;
}

.nav_forum dt a span {
	padding: 0 5px 0 13px;
	font-weight: 800;
	color: #324F64;
	font-size: 12px;
	font-weight: 800;
	font-family: Verdana, Arial;
	background: url(../image/bg_navmain.gif) no-repeat 4px -76px;
	_zoom: 1;
}

.nav_forum dt a:hover {
	padding: 0;
	border: 1px solid #BFDAEC;
	background: url(../image/bg_navmain.gif) repeat-x 0 -47px;
}

.nav_forum .active dt a span,.nav_forum dt a:hover span {
	background-position: 4px -96px;
}

.nav_forum dd {
	display: none;
	position: absolute;
	left: 1px;
	top: 18px;
	padding: 5px 0;
	width: 117px;
	border: 1px solid #E3E3E3;
	border-top: none;
	background: #FFF;
	overflow: hidden;
}

.nav_forum dd li {
	height: 19px;
	overflow: hidden;
}

.nav_forum dd li a {
	display: block;
	padding: 0 5px 0 12px;
	line-height: 19px;
}

.nav_forum dd li a:hover {
	color: #FFF;
	background: #697F8F;
}

.nav_forum .active {
	z-index: 2;
}

.nav_forum .active dt {
	position: absolute;
	top: -2px;
	left: 1px;
	height: 23px;
}

.nav_forum .active dt a,.nav_forum .active dt a:hover {
	padding: 0;
	line-height: 23px;
	border: 1px solid #E3E3E3;
	border-bottom: none;
	background: #FFF;
}

.nav_forum .active dd {
	display: block;
}

.nav_forum .f_one {
	padding-top: 3px;
}

.nav_forum .f_one dt {
	top: 1px;
}

.nav_forum .f_one dd {
	top: 22px;
}

.nav_forum .bordernone {
	border-right: none;
	width: 124px;
}

.nav_forum .bordernone dt {
	width: 122px;
}

.nav_forum .bordernone dd {
	width: 120px;
}

.nav_forum .f_two {
	padding-bottom: 3px;
}

.nav_forum .c_bot {
	position: absolute;
	z-index: 1;
	bottom: 0;
	width: 980px;
	height: 5px;
	overflow: hidden;
}

.nav_forum .c_bot,.nav_forum .c_bot span {
	background-image: url(../image/bg_nav_repeat.gif);
	background-repeat: no-repeat;
}

.nav_forum .c_bot {
	background-position: -5px -227px;
}

.nav_forum .c_bot span {
	float: right;
	width: 5px;
	height: 5px;
	background-position: 0 -227px;
}

.navgation .nav_search {
	position: relative;
	z-index: 0;
	margin-top: 10px;
	font-size: 14px;
	background: #FFF url(../image/bg_nav_repeat.gif) repeat-x 0 -9px;
	overflow: hidden;
}

.nav_search .c_top,.nav_search .c_top span,.nav_search .c_bot,.nav_search .c_bot span
	{
	display: block;
	position: absolute;
	z-index: 1;
	width: 980px;
	height: 5px;
	background-image: url(../image/bg_nav_repeat.gif);
	background-repeat: no-repeat;;
	overflow: hidden;
}

.nav_search .c_top span,.nav_search .c_bot span {
	right: 0;
	width: 5px;
}

.nav_search .c_top {
	top: 0;
	background-position: -5px -5px;
}

.nav_search .c_top span {
	background-position: 0 -5px;
}

.nav_search .c_bot {
	bottom: 0;
	background-position: -5px 0;
}

.nav_search .c_bot span {
	background-position: 0 0;
}

.nav_searchbox {
	border: 1px solid #E3E3E3;
}

/* 关闭特殊导航 */
.nav_close {
	display: none;
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 1px 15px 0 0;
	height: 13px;
	background: url(../image/bg_navmain.gif) no-repeat 28px -543px;
	cursor: pointer;
}

.searchform {
	float: left;
	height: 38px;
	padding-left: 65px;
	border-left: 1px solid #FFF;
	background: url(../image/bg_navmain.gif) no-repeat -48px -78px;
}

.searchform label,.searchform button {
	float: left;
	margin: 6px 5px 0 0;
}

.searchform .inp_text input {
	float: left;
	width: 470px;
	padding: 3px 0 0 5px;
	height: 20px;
	line-height: 17px;
	border: 1px solid #E1E1E1;
	color: #AAACAE;
	background: url(../image/bg_inp_text.gif) no-repeat 0 0;
}

.searchform .inp_radio {
	position: relative;
	z-index: 0;
	padding: 1px 6px 1px 23px;
	width: auto;
	height: 23px;
	line-height: 25px;
	overflow: hidden;
}

.searchform .inp_radio input {
	position: absolute;
	left: 5px;
	top: 5px;
}

.searchform .inp_radio_active {
	padding: 0px 5px 0 22px;
	border: 1px solid #BFDAEC;
	background: url(../image/bg_navmain.gif) no-repeat 0 -47px;
}

.searchform button {
	width: 69px;
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	font-weight: 800;
	background: url(../image/bg_navmain.gif) no-repeat 0 -124px;
	cursor: pointer;
}

.search_adv {
	float: right;
	padding: 13px 38px 0 0;
	border-right: 1px slid #FFF;
	font-size: 12px;
}

.search_adv a:hover {
	text-decoration: underline;
	color: #0657B2;
}

.ad_text {
	display: none;
	clear: both;
	width: 100%;
}

/* @group 日历控件 */ /* 日历控件 */
#calendar {
	margin-bottom: 0.8em;
	border: 1px solid #D9E6BB;
	background: #FFF;
	font: normal 100 12px/100% Verdana, Arial, sans-serif;
}

#calendar td {
	width: 26px;
	height: 21px;
}

#calendar td a {
	display: block;
	margin: 0 auto;
	padding: 2px;
	width: 18px;
	height: 12px;
	line-height: 12px;
	border: 1px solid #DDD;
	font-size: 10px;
	color: #334F67;
	background: url(../image/bg_repeat.png) no-repeat 0 -46px;
}

#calendar td a:hover {
	text-decoration: none;
	border-color: #D9E6BB;
	background: none;
	background-color: #FFF;
}

#calendar_week td {
	height: 2em;
	line-height: 2em;
	border-bottom: 1px solid #CAD9EA;
}

#hourminute td {
	padding: 4px 2px;
	border-top: 1px solid #D9E6BB;
}

#calendar .calendar_expire a:link,#calendar .calendar_expire a:visited {
	font-weight: normal;
}

#calendar .calendar_default a:link,#calendar .calendar_default a:visited
	{
	color: #334F67;
}

#calendar td.calendar_checked a,#calendar span.calendar_checked a:visited
	{
	border-color: #D9E6BB;
	background: none;
	font-weight: 800;
	color: #839B1B;
}

#calendar .calendar_today a,#calendar .calendar_today a:visited {
	border-color: #D9E6BB;
	background: none;
	font-weight: 800;
	color: #839B1B;
}

#calendar_header td {
	width: 30px;
	height: 21px;
	line-height: 21px;
	font-weight: normal;
	text-align: center;
}

#calendar_year {
	display: none;
	position: absolute;
	z-index: 10;
	line-height: 130%;
	background: #F5FAFE;
}

#calendar_year a,#calendar_year a:visited {
	color: #334F67
}

#calendar_year .col {
	float: left;
	padding: 4px;
	margin-left: 1px;
	border: 1px solid #D9E6BB;
	text-align: center;
	background: #FAFAFA;
}

#calendar_year .calendar_checked {
	font-weight: 800;
	color: #FF7800;
}

#calendar_month {
	display: none;
	position: absolute;
	z-index: 11;
	padding: 4px;
	line-height: 130%;
	border: 1px solid #D9E6BB;
	text-align: center;
	background: #FAFAFA;
}

#calendar_month .calendar_checked {
	font-weight: 800;
	color: #FF7800;
}

#calendar_week {
	background: url(../image/bg_repeat.png) repeat-x 0 0;
}

#calendar_week td {
	text-align: middle;
}

#calendar_week td a {
	display: inline;
	padding: 0;
	border: none;
	background: none;
}

#calendar_week .calendar_week_prevmonth,#calendar_week .calendar_week_nextmonth
	{
	display: block;
	padding-left: 15px;
	height: 15px;
	width: 0;
	background-image: url(../image/icon.gif);
	overflow: hidden;
}

#calendar_week .calendar_week_prevmonth:hover,#calendar_week .calendar_week_nextmonth:hover
	{
	background-image: url(../image/icon.gif);
	background-color: none;
}

#calendar_week .calendar_week_prevmonth {
	background-position: 0 -40px;
}

#calendar_week .calendar_week_prevmonth:hover {
	background-position: 0 -40px;
}

#calendar_week .calendar_week_nextmonth {
	background-position: 0 -63px;
}

#calendar_week .calendar_week_nextmonth:hover {
	background-position: 0 -63px;
}

/* @end */ /* 当前位置 */
.position {
	margin: 0 auto 10px;
	width: 980px;
	height: 17px;
	line-height: 17px;
	color: #999;
	overflow: hidden;
}

.position a {
	vertical-align: inherit;
}

.position em {
	color: #666;
}

.position span {
	color: #333;
}

/* @group 分页样式 */ /* 分页 */
.pages {
	zoom: 1;
	overflow: hidden;
	margin: 25px 10px 15px;
	clear: both;
	clear: both;
	height: 23px;
	text-align: right;
	font-family: "宋体";
	overflow: hidden;
}

.pages ul {
	height: 21px;
	overflow: hidden;
}

.pages li {
	float: left;
	margin-right: 2px;
	height: 21px;
	line-height: 21px;
	overflow: hidden;
}

.pages li a {
	float: left;
	padding: 0 6px;
	height: 19px;
	line-height: 19px;
	border: 1px solid #E3E4DD;
	font-size: 14px;
	font-family: Verdana;
	vertical-align: middle;
	overflow: hidden;
}

.pages li a,.pages li a:visited {
	color: #8F8F8F;
}

.pages li a:hover {
	text-decoration: none;
	border-color: #839B1B;
	color: #FFF;
	background-color: #839B1B;
}

.pages .select {
	background-color: #839B1B;
}

.pages .select a,.pages .select a:visited {
	color: #FFF;
	border: 1px solid #839B1B;
}

.pages .prevpage,.pages .lastpage {
	width: 21px;
}

.pages .prevpage a,.pages .prevpage a:visited,.pages .nextpage a,.pages .nextpage a:visited,.pages .lastpage a,.pages .lastpage a:visited
	{
	background-image: url(../image/bg_pages.gif);
	background-repeat: no-repeat;
	background-color: #FFF;
}

.pages .prevpage a:hover,.pages .nextpage a:hover,.pages .lastpage a:hover
	{
	background-color: #839B1B;
}

.pages .prevpage a,.pages .prevpage a:visited {
	padding: 0 0 0 19px;
	width: 0;
	background-position: 7px -26px;
}

.pages .prevpage a:hover {
	background-position: -21px -51px
}

.pages .nextpage a,.pages .nextpage a:visited {
	padding: 0px 14px 0 7px;
	line-height: 21px;
	font-size: 12px;
	background-position: 47px 6px;
}

.pages .nextpage a:hover {
	background-position: 19px -19px;
}

.pages .lastpage a,.pages .lastpage a:visited {
	padding: 0px 0 0 19px;
	width: 0;
	background-position: 6px -58px;
}

.pages .lastpage a:hover {
	background-position: -18px -83px;
}

.content .pages a,.content .pages strong,.content .pages span {
	display: inline-block;
	*display: inline;
	zoom: 1;
	padding: 0 6px;
	height: 21px;
	line-height: 21px;
	border: 1px solid #C98E3E;
	margin-left: 3px;
}

.content .pages a:link,.content .pages a:visited {
	color: #CD9040
}

.content .pages strong,.content .pages a:hover {
	text-decoration: none;
	color: #FFFFFF;
	background: #C98E3E;
}

.content .pages span {
	border: 1px solid #DDDDDD;
	color: #999999
}

.content .pages .prevpage,.content .pages .lastpage {
	width: auto;
}

/* @end */ /* 页脚{标准版} */
#bottomInfo {
	clear: both;
	width: 980px;
	margin: 10px auto 0;
	text-align: center;
	line-height: 20px;
	font-family: arial;
}

.bottomInfo {
	width: 980px;
	height: 30px;
	margin: 0 auto;
	border-top: 1px solid #d6d6d6;
	text-align: center;
	line-height: 30px;
	font-size: 12px;
}

.bottomInfo a {
	font-size: 12px;
}

.bottomInfo a:hover {
	text-decoration: underline;
}

.bottomcopyright {
	position: relative;
	z-index: 0;
	margin: 0 auto;
	width: 980px;
	height: 70px;
	text-align: center;
	line-height: 20px;
}

.police {
	position: absolute;
	z-index: 0;
	top: 0px;
	right: 150px;
	text-align: right;
}

/* {简版} */
.foot {
	clear: both;
	margin: 10px auto 0;
	padding: 10px 0;
	width: 980px;
	border-top: 2px solid #E3E3E3;
	text-align: center;
	font-family: verdana;
	overflow: hidden;
}

.foot,.foot a:link,.foot a:visited {
	color: #666;
}

.foot a:hover {
	color: #666
}

.foot div,.foot p {
	height: 21px;
	line-height: 21px;
}

/* bug */
#center .logo a {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -150px 0 0 200px;
	width: 400px;
	height: 300px;
	border: 5px solid #C0880F;
}

#pm_border {
	position: absolute;
	width: 520px;
	height: 260px;
	background: #fff;
	border: #CC9966 5px solid;
	z-index: 9999;
}

#pm_border .pm_close {
	position: absolute;
	margin-left: 660px;
	margin-top: 5px;
	z-index: 10006;
}

#pm_border iframe {
	z-index: 10000;
	overflow: hidden;
}

/*--验证码--*/
#login_authcode_img {
	position: absolute;
	margin-top: 22px;
}

#com_authcode_img {
	position: absolute;
	margin-left: 48px;
	margin-top: 25px;
}

#comseccode {
	width: 85px;
	background: none;
	height: 23px;
	padding: 0;
}

#seccode {
	width: 85px;
}

/*--举报--*/
#reportdiv {
	position: absolute;
	width: 310px;
	height: 200px;
	background: #fff;
	border: #7FCAE2 5px solid;
	z-index: 9999;
}

#reportdiv .pm_close {
	position: absolute;
	margin-left: 660px;
	margin-top: 5px;
	z-index: 10006;
}

#reportdiv iframe {
	z-index: 10000;
}

/* @group 评分 */ /*--边栏评分--*/
.sidebar .score {
	width: 228px;
	border: 1px solid #E7D9BF;
	overflow: hidden;
	position: relative;
	margin-bottom: 10px;
}

.sidebar .score h3 {
	height: 21px;
	line-height: 21px;
	padding-left: 8px;
	font-size: 12px;
	background: url(../image/bg_guess.gif) no-repeat 50% 0;
	background-position: 0 -78px;
	color: #555;
}

.sidebar .score h3 span {
	display: block;
	width: 90px;
	height: 20px;
	text-align: center;
	background-repeat: no-repeat;
	background-position: -88px -86px;
	float: right;
	font-weight: normal;
	color: #925A21
}

.sidebar .score h3 span a {
	color: #315065
}

.sidebar .score h3 span a:hover {
	color: #d0511c;
}

.sidebar .score h3 span a:link,.main .sidebar .score h3 span a:visited {
	color: #925A21
}

.sidebar .score ul {
	padding: 3px 0;
	border-top: 1px solid #e7d9bf;
}

.sidebar .score ul h4 {
	line-height: 27px;
	text-indent: 12px;
	font-size: 14px;
	color: #323232;
}

.sidebar .score ul li {
	text-indent: 17px;
	background-position: 8px 9px;
	overflow: hidden;
}

.sidebar .score li {
	padding-left: 10px;
	text-indent: 0;
	background: none;
	height: auto;
	color: #925A21;
	text-indent: 0;
}

.sidebar .score li div {
	float: left;
	width: 170px;
	line-height: 19px;
	text-indent: 0;
	word-wrap: break-word;
	word-break: break-all;
}

.sidebar .score li a {
	color: #925A21;
}

.sidebar .score li a:hover {
	color: #D0511C
}

.sidebar .score li span {
	float: left;
	padding-top: 2px;
	height: 15px;
	line-height: 17px;
	color: #9B999A;
	overflow: hidden;
	width: 80px;
	overflow: hidden;
	text-align: right;
}

.sidebar .score dl {
	float: left;
	background: none repeat scroll 0 0 #FFF6F9;
	border: 1px solid #FFB1CB;
	padding: 1px;
	width: 120px;
	margin-left: 5px;
	margin-bottom: 5px;
	margin-top: 2px;
}

.sidebar .score dt {
	background: url("../image/t7.gif") repeat-x scroll 0 0 transparent;
	color: #C33D6C;
	height: 13px;
	overflow: hidden;
	padding-left: 4px;
}

.sidebar .score .hhhh .c_dgreen {
	background: #fff;
	display: block;
}

/* @end */
#comment_score_area {
	display: none;
}

#comment_score_area li {
	float: left;
	text-align: left;
	display: inline-block;
	width: 180px;
	margin-bottom: 5px;
	display: inline-block;
	width: 170px;
}

#comment_score_area li label {
	display: inline-block;
	float: left;
	height: 18px;
	line-height: 18px;
	overflow: hidden;
	text-align: right;
	vertical-align: middle;
	width: 80px;
}

#comment_score_area li p {
	display: inline-block;
	vertical-align: middle;
	padding-left: 5px;
}

#comment_score_area ul {
	margin: 10px 0;
}

#comment_score_area img {
	cursor: pointer;
}

#img_comseccode {
	z-index: 100000;
}

.navgation_pk,.navgation_pk .nav_header,.navgation_pk .nav_item,.navgation_pk .nav_item li,.navgation_pk .nav_item .active a,.navgation_pk .nav_item .active a:visited,.navgation_pk .nav_item a:hover,.navgation_pk .search_box,.navgation_pk .search_key,.navgation_pk .search_box label,.navgation_pk .menu,.navgation_pk .menu div
	{
	background-image: url(../image/bg_nav_pk.gif);
	background-repeat: no-repeat;
}

.navgation_pk,.navgation_pk .nav_header {
	background-repeat: repeat-x;
}

.navgation_pk {
	margin-bottom: 0;
	background: #FFFAEA;
}

.navgation_pk .nav_header {
	background: url(../image/bg_nav.jpg) no-repeat 0 0;
}

.navgation_pk .nav_item {
	background-repeat: repeat-x;
	background-position: 0 -71px
}

.navgation_pk .nav_item li {
	background-position: 1px -161px
}

.navgation_pk .nav_item a,.navgation_pk .nav_item a:visited {
	color: #9B2C10
}

.navgation_pk .nav_item .active a,.navgation_pk .nav_item .active a:visited,.navgation_pk .nav_item a:hover
	{
	color: #FFF;
	background-position: 0 -116px
}

.navgation_pk .search_box {
	float: right;
	margin-top: 6px;
	height: 23px;
	width: 255px;
	color: #666;
	background-repeat: repeat-x;
	background-position: 0 -206px;
}

.navgation_pk .search_key {
	float: left;
	padding-left: 15px;
	height: 23px;
	background-position: -83px -229px;
}

.navgation_pk .search_box label {
	float: left;
	padding-top: 2px;
	height: 21px;
	background-repeat: repeat-x;
	background-position: 0 -206px;
}

.navgation_pk .search_box input {
	float: left;
	margin: 0px;
	padding: 3px 0px 0px 0px;
	height: 16px;
	line-height: 15px;
	width: 170px;
	border: 0px;
	font-size: 12px;
	color: #666;
	overflow: hidden;
	background: none;
}

.navgation_pk .menu {
	padding: 0px;
	position: relative;
	float: right;
	height: 23px;
	background-position: -20px -229px;
}

.navgation_pk .menu div {
	margin: 5px 5px 0 0;
	padding-right: 20px;
	line-height: 15px;
	background-position: 37px -234px;
	cursor: pointer;
}

.navgation_pk .menu ul {
	display: none;
	position: absolute;
	top: 0px;
	width: 72px;
	left: -6px;
	border: 1px solid #EFDFB7;
	background: #FFF;
}

.navgation_pk .menu li {
	height: 23px;
}

.navgation_pk .menu ul a {
	background: none repeat scroll 0 0 transparent;
	padding: 0px;
	margin-right: 0px;
	font-size: 12px;
	display: block;
	width: 72px;
	line-height: 23px;
	text-indent: 5px;
	overflow: hidden;
}

.navgation_pk .menu ul a,.navgation_pk .menu ul a:visited {
	color: #333;
}

.navgation_pk .menu ul a:hover {
	background: #FFF5D1 url(../image/bg_nav_pk.gif) no-repeat 54px -230px;
	color: #333;
}

.navgation_pk .nav_quicklick {
	position: absolute;
	z-index: 0;
	top: -1px;
	right: 5px;
}

/*showmessage 函数*/
#showmessage {
	width: 407px;
	height: 200px;
	margin: 38px auto;
}

#showmessage .mtitle {
	height: 45px;
	background: url('../image/showmessage-top.gif') no-repeat;
	text-indent: -1000px;
	overflow: hidden;
}

#showmessage .mcont {
	border-left: 1px solid #EBE6C9;
	border-right: 1px solid #EBE6C9;
	background-color: #FFF9E3;
}

#showmessage .mcont .mp {
	width: 360px;
	font-size: 14px;
	line-height: 16px;
	margin: 0 auto;
	padding-top: 25px;
	padding-bottom: 30px;
	text-align: center;
	color: #666146;
}

#showmessage .mcont a {
	display: block;
	width: 66px;
	font-size: 16px;
	color: #FFF;
	font-weight: bold;
	text-align: center;
	height: 27px;
	line-height: 27px;
	margin: 0 auto;
	background: url('../image/showmessage-button.gif') no-repeat;
	overflow: hidden;
}

#showmessage .mcont .mpad {
	height: 20px;
}

#showmessage .mbot {
	height: 10px;
	background: url('../image/showmessage-bottom.gif') no-repeat;
}

a {
	text-decoration: none;
	color: #333;
}

a:hover {
	text-decoration: underline;
	color: #925A21;
}

h1,h2,h3 {
	color: #925A21;
}

.layout {
	margin: 0 auto;
	width: 980px;
}

.enable {
	padding: 0;
	height: 21px;
	line-height: 21px;
	border: 1px double #DDDDDD;
	color: #CCCCCC;
	background: url(../image/bg_message.gif) repeat-x 0 -22px;
}

/*--全局--*/ /*--侧边--*/
.layout .sidebar {
	float: right;
	width: 230px;
}

.layout .sidebar .box {
	margin-bottom: 10px;
	border: 1px solid #e7d9bf;
}

.layout .leftsidebar {
	float: left;
	width: 230px;
}

.layout .leftsidebar .box {
	margin-bottom: 10px;
	border: 1px solid #e7d9bf;
}

#content .sidebar {
	float: right;
	width: 230px;
}

#content .sidebar .box {
	margin-bottom: 10px;
	border: 1px solid #e7d9bf;
	clear: both;
}

#content .sidebar .box h3 {
	height: 21px;
	line-height: 21px;
	padding-left: 8px;
	font-size: 12px;
	background: url(../image/br_bg.png) repeat-x 0 -78px;
	margin: 1px;
	color: #555;
}

.layout .sidebar .box h3 {
	height: 21px;
	line-height: 21px;
	padding-left: 8px;
	font-size: 12px;
	background: url(../image/br_bg.png) repeat-x 0 -78px;
	margin: 1px;
	color: #555;
}

.layout .sidebar .box h3 span {
	float: right;
	padding-right: 4px;
	font-weight: normal;
	color: #925A21
}

.layout .sidebar .box h3 span a {
	text-decoration: underline;
	color: #925A21
}

.layout .sidebar .box ul {
	padding: 3px 0;
	border-top: 1px solid #e7d9bf;
}

.layout .sidebar .box ul li {
	padding-right: 8px;
	height: 23px;
	line-height: 23px;
	text-indent: 17px;
	background: url(../image/icon_s.gif) no-repeat 8px 9px;
	overflow: hidden;
}

.layout .sidebar .bg_yellow h3 {
	background: url(../image/br_bg.png) repeat-x 0 -23px
}

#content .leftsidebar {
	float: left;
	width: 230px;
}

#content .leftsidebar .box {
	margin-bottom: 10px;
	border: 1px solid #e7d9bf;
	clear: both;
}

#content .leftsidebar .box h3 {
	height: 21px;
	line-height: 21px;
	padding-left: 8px;
	font-size: 12px;
	background: url(../image/br_bg.png) repeat-x 0 -78px;
	margin: 1px;
	color: #555;
}

.layout .leftsidebar .box h3 {
	height: 21px;
	line-height: 21px;
	padding-left: 8px;
	font-size: 12px;
	background: url(../image/br_bg.png) repeat-x 0 -78px;
	margin: 1px;
	color: #555;
}

.layout .leftsidebar .box h3 span {
	float: right;
	padding-right: 4px;
	font-weight: normal;
	color: #925A21
}

.layout .leftsidebar .box h3 span a {
	text-decoration: underline;
	color: #925A21
}

.layout .leftsidebar .box ul {
	padding: 3px 0;
	border-top: 1px solid #e7d9bf;
}

.layout .leftsidebar .box ul li {
	padding-right: 8px;
	height: 23px;
	line-height: 23px;
	text-indent: 17px;
	background: url(../image/icon_s.gif) no-repeat 8px 9px;
	overflow: hidden;
}

.layout .leftsidebar .bg_yellow h3 {
	background: url(../image/br_bg.png) repeat-x 0 -23px
}

.layout {
	margin: 10px auto 20px auto;
	overflow: hidden;
}

.layout .content {
	float: left;
	width: 730px;
}

/*当前位置*/
#position .attend {
	background: transparent url(../image/supnav_bg.png) no-repeat scroll 8px
		-70px;
	float: right;
	line-height: 9999px;
	overflow: hidden;
	display: block;
}

#position,#position a,#temposition div,#temposition a {
	background: #fbfbfb url(../image/position_bg.gif) no-repeat 0 0
}

#position {
	margin: 10px auto;
	padding-left: 92px;
	height: 25px;
	width: 886px;
	border: 1px solid #EAEAEA;
}

#position a,#position span,#temposition a,#temposition span {
	display: block;
	float: left;
	padding: 0 19px 0 10px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	background-position: right -25px;
	font-size: 14px;
}

#position .attend {
	background: transparent url(../image/supnav_bg.png) no-repeat scroll 8px
		-70px;
	float: right;
	line-height: 9999px;
	overflow: hidden;
	display: block;
}

#position span,#temposition span {
	background: none;
}

#temposition {
	margin-top: 10px;
	width: 100%;
	height: 27px;
	background-color: #EAEAEA;
	overflow: hidden;
}

#temposition div {
	padding-left: 92px;
	height: 25px;
	line-height: 25px;
	border: 1px solid #EAEAEA;
	background-color: #FFFFFF;
	overflow: hidden;
}

.sidebar .list .clearboth,#allnewslist .list .clearboth {
	clear: both;
}

.sidebar .list .clearboth,#allnewslist .list .clearboth,#allalbumslist .list .pages
	{
	clear: both;
}

.sidebar .hot ol,#allnewslist .hot ol,#allgoodslist .hot ol {
	clear: both;
	padding-top: 5px;
	background: url(../image/bg_street.png) no-repeat 7px -181px;
	overflow: hidden;
}

.sidebar .hot li,#allnewslist .hot li,#allgoodslist .hot li {
	height: 22px;
	line-height: 22px;
	text-indent: 24px;
	overflow: hidden;
}

.sidebar .hot ol,#allnewslist .hot ol,#allalbumslist .hot ol {
	clear: both;
	width: 100%;
	padding-top: 5px;
	overflow: hidden;
}

.sidebar .hot li,#allnewslist .hot li,#allalbumslist .hot li {
	height: 24px;
	line-height: 24px;
	text-indent: 24px;
	overflow: hidden;
}

/*--边栏评分--*/
.sidebar .score {
	width: 228px;
	border: 1px solid #E7D9BF;
	overflow: hidden;
	position: relative;
	margin-bottom: 10px;
}

.sidebar .score h3 {
	height: 21px;
	line-height: 21px;
	padding-left: 8px;
	font-size: 12px;
	background: url(../image/bg_guess.gif) no-repeat 50% 0;
	background-position: 0 -78px;
	color: #555;
}

.sidebar .score h3 span {
	display: block;
	width: 90px;
	height: 20px;
	text-align: center;
	background-repeat: no-repeat;
	background-position: -88px -86px;
	float: right;
	font-weight: normal;
	color: #925A21
}

.sidebar .score h3 span a {
	color: #315065
}

.sidebar .score h3 span a:hover {
	color: #d0511c;
}

.sidebar .score h3 span a:link,.main .sidebar .score h3 span a:visited {
	color: #925A21
}

.sidebar .score ul {
	padding: 3px 0;
	border-top: 1px solid #e7d9bf;
}

.sidebar .score ul h4 {
	line-height: 27px;
	text-indent: 12px;
	font-size: 14px;
	color: #323232;
}

.sidebar .score ul li {
	text-indent: 17px;
	background-position: 8px 9px;
	overflow: hidden;
}

.sidebar .score li {
	padding-left: 10px;
	text-indent: 0;
	background: none;
	height: auto;
	color: #925A21;
	text-indent: 0;
}

.sidebar .score li div {
	float: left;
	width: 170px;
	line-height: 19px;
	text-indent: 0;
	word-wrap: break-word;
	word-break: break-all;
}

.sidebar .score li a {
	color: #925A21;
}

.sidebar .score li a:hover {
	color: #D0511C
}

.sidebar .score li span {
	float: left;
	padding-top: 2px;
	height: 15px;
	line-height: 17px;
	color: #9B999A;
	overflow: hidden;
	width: 80px;
	overflow: hidden;
	text-align: right;
}

.sidebar .score dl {
	float: left;
	background: none repeat scroll 0 0 #FFF6F9;
	border: 1px solid #FFB1CB;
	padding: 1px;
	width: 120px;
	margin-left: 5px;
	margin-bottom: 5px;
	margin-top: 2px;
}

.sidebar .score dt {
	background: url("../image/t7.gif") repeat-x scroll 0 0 transparent;
	color: #C33D6C;
	height: 13px;
	overflow: hidden;
	padding-left: 4px;
}

.sidebar .score .hhhh .c_dgreen {
	background: #fff;
	display: block;
}

.sidebar .consumer_hot {
	padding-bottom: 15px;
}

.sidebar .consumer_hot dl {
	margin: 15px auto 0;
	height: 170px;
	width: 206px;
	color: #333;
	overflow: hidden;
	border-bottom: 1px dashed #E3CAA9;
}

.sidebar .consumer_hot dt {
	width: 206px;
}

.sidebar .consumer_hot dt a {
	display: table-cell;
	*display: block;
	*font-size: 105px;
	margin-bottom: 5px;
	width: 200px;
	height: 120px;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
}

.sidebar .consumer_hot dt img {
	vertical-align: middle;
}

.sidebar .consumer_hot dd {
	padding: 0;
	height: 40px;
	width: 200px;
}

.sidebar .consumer_hot h4,#movement .consumer_hot p {
	height: 26px;
	line-height: 26px;
	font-size: 12px;
	overflow: hidden;
}

.sidebar .consumer_hot dd a {
	color: #925A21;
}

.content .list {
	padding: 4px;
	width: 730px;
	background: #f7edeb;
	overflow: hidden;
}

.content .list .cont {
	padding: 3px 8px;
	border: 1px solid #e3cba9;
	background: #FFFFFF;
	overflow: hidden;
}

.content .list .cont h3 {
	height: 27px;
	line-height: 27px;
	font-size: 14px;
}

.content .list .name {
	width: 470px;
}

.content .list .foodlabels {
	width: 127px;
}

.content .list .rebate {
	font-family: Arial;
	width: 115px;
	text-align: center;
}

.content .list .title {
	height: 26px;
	line-height: 26px;
	border: 1px solid #E4CF8C;
	border-left: none;
	border-right: none;
	background: url(../image/bg_streettitle.png) repeat-x bottom left;
}

.content .list .title div,.content .list .everylist div {
	float: left;
}

.content .list .title .name {
	text-align: left;
	text-indent: 10px;
}

.content .everylist {
	margin: 0 auto;
	padding-bottom: 1px;
	width: 714px;
	background: url(../image/bg_street.png) repeat-x 0 20px;
	overflow: hidden;
}

.content .everylist div {
	height: 96px;
}

.content .everylist dl {
	margin: 0;
	border: none;
	padding-left: 15px;
}

.content .everylist dl dt,.content .everylist dl dd {
	float: left;
}

.content .everylist dl dt,.content .everylist dl dd {
	padding-top: 6px;
	width: 220px;
	overflow: hidden;
}

.content .everylist dl dt img {
	padding: 1px;
	border: 1px solid #DDDDDD;
}

.content .name {
	width: 387px;
}

.content .name dd {
	margin-left: 8px;
	width: 305px;
	overflow: hidden;
}

.content .name h5 {
	height: 31px;
	line-height: 31px;
	font-size: 14px;
	overflow: hidden;
}

.content .name h5 a:link,.content .name h5 a:visited {
	color: #94591F;
}

.content .name h5 a:hover {
	color: #d0511c;
}

.content .name span {
	color: #999;
}

.content .name li {
	line-height: 16px;
	height: auto;
}

.content .everylist .foodlabels {
	padding: 8px 0 20px 0;
	height: 67px;
	overflow: hidden;
	margin-bottom: 5px;
	line-height: 17px;
}

.content .everylist .rebate {
	padding-top: 10px;
	height: 85px;
	width: 115px;
	text-align: center;
	font-size: 12px;
}

.streetsearch_new {
	padding: 10px 0 5px;
	border: 1px solid #E7D9BE;
	background: url(../image/streetsearch_new_bg.png) repeat-x left top;
	overflow: hidden;
	margin-bottom: 10px;
}

.streetsearch_new dl {
	clear: left;
	padding: 0 15px;
	width: 708px;
}

.streetsearch_new dl dt,.streetsearch_new dl dd {
	float: left;
}

.streetsearch_new dl dt {
	height: 25px;
	line-height: 25px;
	width: 80px;
	font-size: 14px;
	font-weight: 800;
	text-indent: 3px;
	color: #925A21;
}

.streetsearch_new dl dd {
	margin-left: 5px;
	width: 622px;
	line-height: 25px;
	color: #666664;
}

.streetsearch_new dl dd.catlist {
	line-height: 15px;
	margin-top: 5px;
}

.streetsearch_new dl dd label {
	display: block;
	position: relative;
	float: left;
	margin-right: 5px;
	height: 27px;
	line-height: 27px;
	ckground: red;
}

.streetsearch_new dl dd input {
	vertical-align: middle;
}

.streetsearch_new dl dd .labels select {
	left: 30px;
}

.streetsearch_new dl dd .consume {
	width: 147px;
}

.streetsearch_new dl dd .consume select {
	left: 54px;
}

.streetsearch_new dl dd .btn {
	width: 50px;
	vertical-align: middle;
	background: url(../image/bt_streetsearch.gif) no-repeat 0 0;
	height: 22px;
	cursor: pointer;
	border: none;
}

.streetsearch_new dl dd .btn input {
	position: absolute;
	top: 4px;
}

.streetsearch_new .foodlist dt {
	line-height: 20px;
	color: #666;
	font-size: 12px;
	font-weight: normal;
	margin-left: 80px;
	width: auto;
	display: inline;
}

.streetsearch_new .foodlist dd {
	line-height: 21px;
	width: 540px;
}

.streetsearch_new .foodlist a {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	font-size: 12px;
	margin-right: 5px;
	font-family: "宋体"
}

.streetsearch_top {
	margin-bottom: 10px;
	overflow: hidden;
}

.streetsearch_current {
	color: #925A21;
}

#shop_album_list { margin:0 5px; overflow:hidden}
#shop_album_list li { display:inline-block;vertical-align:bottom; text-align:center;width:170px;background:url(../image/img_li_bg.gif) no-repeat 0 0;margin-right:5px;*margin-right:8px;float:left;}
#shop_album_list li img { width:150px; height:120px; overflow:hidden;margin:13px 0px 0px 0px;}
#shop_album_list li .album_desc {  height:24px;width:160px;overflow:hidden; line-height:24px; overflow:hidden; text-align:center; color:#925A21;margin:8px 0px 5px 5px;}

#shop_album_info {padding:10px;}
#shop_album_info h4{padding:10px 10px 10px 0px;*padding:14px 10px 10px 0px;font-size:14px;display:block; width:260px; float:left;*border-bottom:1px dashed #E3CBA9; }
.xingji{border-bottom:1px dashed #E3CBA9;height:30px;padding-top:10px;margin-bottom:5px;}
#shop_album_info li{line-height:26px; font-size:14px;}


/* Ajax 登录筐 */
.minf a {
	color:#925A21;
}
#flib_msgbox{
	top:1px; left:1px;background:#e1e1e1;padding:5px;width: 350px; position: absolute; z-index:100002;;
}
#flib_msgbox .wrap{
	background:#fff;border:1px solid #a7a6a6;
}
#flib_msgbox_titlebar{
	background:#f1f1f1;border-bottom:1px solid #dedede;padding:10px 5px 5px 5px;cursor: move;height:20px;
}
#flib_msgbox_title{
	float:left;font-size:14px;margin-left:10px;
}
#flib_msgbox_btnclose{
	text-indent: 100px;
	overflow: hidden;
	background-color:transparent;
	border:medium none;
	cursor:pointer;
	font-size:0px;
	color:#3f3f3f;
	background:url(../image/pop_close.png);
	float:right;height:17px;margin:0px 5px;width:17px;display:block;outline:none;
}

#flib_msgbox_content{
	clear:both;
	display:block;
	margin:10px;
}
#flib_msgbox_nav{
	clear:both;
	display:block;
	background:#f1f1f1 none repeat scroll 0 0;border-top:1px solid #e9e9e9;height:41px;position:relative;text-align:right;
}
.lpsw label {
float:left;
line-height:150%;
padding-left:4px;
width:auto;
}

.lgfm label, .lgfm p {
clear:both;
display:block;
line-height:22px;
margin:0 0 10px;
overflow:hidden;
}
.sipt {
background-color:#FFFFFF;
border-color:#CCCCCC #EEEEEE #EEEEEE #CCCCCC;
border-style:solid;
border-width:1px;
clear:left;
float:none;
height:20px;
margin:0 0 10px;
width:234px;
}

.ftid {
float:left;
margin-right:6px;
}
.sipt .txt {
background:none repeat scroll 0 0 #FFFFFF;
border:medium none;
float:left;
outline:medium none;
width:154px;
}

.nlf .txt {
width:230px;
}

.lgfm .txt, .lgfm .pt {
width:150px;
}
.lgfm {
border-right:1px solid #CCCCCC;
float:left;
font:12px/1.5 Tahoma,Helvetica,SimSun,sans-serif,Hei;
margin-bottom:10px;
padding:20px 0;
width:280px;
}
.lgfm .txt {
height:16px;
padding:2px 0;
}
.lpsw label {
float:left;
line-height:150%;
padding-left:4px;
width:auto;
}

.lgfm label, .lgfm p {
clear:both;
display:block;
line-height:22px;
margin:0 0 10px;
overflow:hidden;
}
.fsb {
background:none repeat scroll 0 0 #F2F2F2;
border-top:1px solid #CCCCCC;

clear:both;
margin-top:8px;
padding:10px;
}
.pns .pn {
font-size:12px;
height:24px;
line-height:24px;
}
.pn {
background:none repeat scroll 0 0 #925A21;
border-color:#C2D5E3 #336699 #336699 #C2D5E3;
border-style:solid;
border-width:1px;
color:#fff;
cursor:pointer;
font-size:14px;
font-weight:700;
height:26px;
line-height:26px;
margin-right:3px;
overflow:visible;
vertical-align:middle;
z-index:0;
}
.minf {
margin-top:23px;
}

.lgf {
float:left;
margin:47px 25px 10px 40px;
overflow:visible;
}
.lgf h4 {
font-size:14px;
font-weight:400;
margin-bottom:10px;
}