/*wp*/
.wp1000{ width:1000px; margin:0 auto}
.wp980{ width:980px; margin:0 auto}

/*body*/
#eis_body{ background:url({IMGDIR}/eis_body.jpg) no-repeat center top;}
#eis_footer{ background:url({IMGDIR}/eis_footer.gif) repeat-x left bottom;}

/*eis_toptb*/
#eis_toptb{ height:32px; line-height:32px; color:#709eb0; background:url({IMGDIR}/eis_toptb.png) repeat-x;}
#eis_toptb a{ color:#709eb0}
#eis_toptb .pipe{ color:#036}

/*eis_um*/
.eis_um{ height:32px; text-align:right}
.eis_um .new{ padding-left: 20px; background-repeat: no-repeat; background-position: 0 50%; color:#6F0; font-weight: 700; }

/*hd*/
#hd { border-bottom: 3px solid #1c456f;}
#hd h2 { padding: 20px 20px 0 0; float: left; }
.hdc { min-height: 116px; }
.ie6 .hdc { height: 116px; }

/*eis_topad*/
.eis_topad{ float:right; margin:10px 0; width:700px; overflow:hidden}

#scbar{ border:0px; border-bottom:1px solid #ddd}

/*nv*/
#eis_nv{ height:64px; background:url({IMGDIR}/eis_nv.png) no-repeat center top}
#eis_nv #nv { padding-left:0px; height:64px;}
#eis_nv #nv li { padding-right: 1px; height:64px; line-height:64px; background: url({IMGDIR}/eis_nv_a.png) no-repeat 100% 0; font-weight:100; font-size: 16px; }
.ie_all #eis_nv #nv li { line-height:67px; }
.ie6 #eis_nv #nv li { line-height:64px; }
#eis_nv #nv li a { padding: 0 20px; height:64px; color:#709eb0 }
#eis_nv #nv li.a { margin-left:0px; background: url({IMGDIR}/eis_nv_a.png) no-repeat 100% 0;}
#eis_nv #nv li.a a{ color:#fff;}
#eis_nv #nv li a:hover { background: url({IMGDIR}/eis_nv_a.png) no-repeat 50% -128px; }
#eis_nv #nv li.hover a:hover, #nv li.hover a { background: url({IMGDIR}/eis_nv_a.png) no-repeat 50% -192px; }

/*qmenu*/
#qmenu { margin:18px 4px 0; padding: 0 12px 0 0; height: 29px; line-height: 29px; overflow:hidden;color:#fff; font-size:14px; font-weight:700;}
#qmenu:hover { text-decoration: none; color:#fff }
#qmenu.a { background-position: 0 -32px; }
.ie8 #qmenu { line-height: 32px; }
#qmenu_menu { margin-top: 1px;}

/*eis_box*/
#eis_1{  margin-top:15px;border-bottom:5px solid #255585; background:url({IMGDIR}/eis_1.gif) repeat-x 0 0 #fff;}
.eis_2{ background:url({IMGDIR}/eis_2.gif) no-repeat 0 0;}
.eis_3{ padding-top:10px; background:url({IMGDIR}/eis_3.gif) no-repeat right 0;}

/*eis_ft*/
#eis_ft { margin-top:20px; background: url({IMGDIR}/eis_ft.png) no-repeat center top; height:88px;}
#eis_ft #ft{ border-top:0px; padding:20px 0 0 0; color:#709eb0}
#eis_ft #ft a{ color:#709eb0}
#eis_ft #ft .pipe{ color:#1c609b}

/*forumlist*/
#forumlist{ border:0px;}
#forumlist .bm_h{ border-width:0px; color:#fff; height: 35px; line-height:32px; padding:0px; overflow:hidden; background:none }
#forumlist .bm_h span.o{ color:#fff; padding-right:20px; height:35px; background:url({IMGDIR}/eis_bar_r.gif) no-repeat right 0px;}
#forumlist .bm_h h2{ padding-left:10px;color:#fff; height:41px; background:url({IMGDIR}/eis_bar_l.gif) no-repeat left 0px;}
#forumlist .bmw{ background:url({IMGDIR}/eis_bar_bg.gif) repeat-x 0 0;}
#forumlist .bm_h h2 a{ color:#fff; font-size:14px}
#forumlist .bm_h a{ color:#fff}
#forumlist .bm_c{ border:0px; margin-bottom:10px;}
.fl_row td { border-top: 1px solid {COMMONBG} !important; }


/*thread*/
.tl .bm_c td{ padding-top:8px; padding-bottom:8px; }

/* bluelovers */

/*eis_toptb*/
.site_pg #toptb {
	height:32px;
	line-height:32px;
	color:{HEADERTEXT};
	background:url({STYLEIMGDIR}/eis_toptb.png) repeat-x;

	margin-bottom: -32px;
	overflow: hidden;
	position: relative;
	right: 0;
	top: 0;
	z-index: 100;
}
.site_pg #toptb a{ color:{HEADERTEXT}}

.site_pg #toptb .wp .y { float: left; }

.site_pg #hd .wp .hdc #um {
	margin-top: -16px;
	position: relative;
	z-index: 100;
}

.site_pg .a_h {
	left: 350px;
	top: 50px;
	position: absolute;
}

/*nv*/
.site_pg #nv{
	height:64px;
	background:url({STYLEIMGDIR}/eis_nv.png) no-repeat center top;
}

.site_pg .hdc {
	min-height: 153px;
}
