/*
[name]科技淡绿[/name]
[iconbgcolor]#e5eba9[/iconbgcolor]
Powered by CGMVSKIN 
URL: http://skin.cgmv.com.cn:88
*/

/* 页面背景 */
body{ background:#f3f3f3;}

/* 顶部文字导航链接 */
#toptb { height:32px; line-height: 32px; margin:0 0 10px 0; background: url(toptb_bg.png) repeat-x bottom;}
#toptb a { color:#777; float: left; padding: 0 4px; height: 30px; }
#toptb a:hover { text-decoration:none; color:#333; float: left; padding: 0 4px; height: 30px; }

/* 页头背景 */
#hd { background-color:transparent; border-bottom: {HEADERBORDER} solid {SPECIALBORDER};}
.tophdbg_t{ padding:10px 0 0 0; height:100%; overflow:hidden; background: url({IMGDIR}/tophdbg_t.png) repeat-x 0 0;}


/* 页尾背景 */
.ftbox{ background-color:transparent; padding: 0 0 0 0; height:96px;}

.ftwp{ overflow:hidden; height:54px; background: url(ft_yjbox_bg.png) repeat-x 0 -108px;}
.ft_yjbox_l{ float:left; width:10px; height:54px; overflow:hidden; _margin:0 -3px 0 0; background: url(ft_yjbox_bg.png) no-repeat left top;}
.ft_yjbox_r{ float:right; width:10px; height:54px; overflow:hidden; _margin:0 0 0 -3px; background: url(ft_yjbox_bg.png) no-repeat right -54px;}

/* 颜色切换 */
#sslct_menu { margin:12px 0 0 0; padding:0 0 0 30px;}

/* 导航栏 */
#nv { background-color: #E6ECAB; background-image: url(nv.png); }
#nv li, #nv li a:hover, #nv li.hover a, #nv li.hover a:hover { background-image: url(nv_a.png) !important; }
#nv li.a { background-color: #f8f8f8; }
#qmenu { background-image: url(qmenu.png); }

#nv li a { color:#666; }
#nv li a:hover { color:#999; text-decoration:none; background: url(nv_a.png) no-repeat 50% -66px; }

/* 页尾文字颜色 */
#ft, #ft .pipe{ color:#666;}
#ft a{ color:#666;}
#ft a:hover{ color:#333;}

/* 站点信息图标 */
.chart { padding-left: 22px; background: url(chart.png) no-repeat 0 50%; color: {LIGHTTEXT}; }

/* 阴影框架 */
.shadow_lft{ overflow:hidden; width:auto; height:100%; background:none;}
.shadow_rgt{ overflow:hidden; width:auto; height:100%; background:none;}

/* 版块头 */
.fl .bm_h { background:#F7FAE8 url(titlebg.png) repeat-x 0 0; border-width: 1px 0; border-color:#ddd;}
.fl .bm_h .o { float: right; width: 30px; height:31px; background:none;}
.fl .bm_h h2 a{ color:#888;}
.bm_h .o img { float: right; margin:11px 10px 0 0;cursor: pointer; }
.bm_h { padding:0 0 0 10px; height: 31px; border-top: 1px solid #FFF; border-bottom: 1px solid #dedede; background: #F7FAE8 url(titlebg.png) repeat-x 0 0; line-height: 31px; white-space: nowrap; overflow: hidden; }
.fl .bm_h h2{ margin:0;}

/* 区块 */
.fl .bm_c, #online .bm_c, .lk .bm_c {  background: url(bm_c_bg.png) repeat-x 0 0; padding-top: 0; padding-bottom: 0; padding-top: 0; padding-bottom: 0; }
.fl { border: 1px solid #ddd; border-top: none; background:#fff; }

/* 返回顶部按钮 */
#scrolltop { visibility: hidden; position: fixed; bottom: 100px; display: block; margin: -30px 0 0; width: 26px; height: 50px; background: url(scrolltop.png) no-repeat 50% 0; line-height: 999px; overflow: hidden; cursor: pointer; }

/* 侧边背景 */
.ct2_a, .ct3_a { background-image: url(vlineb.png); }
#nv_group .ct2_a{ background-image:none;}
#nv_portal.pg_portalcp .ct2_a_r, #nv_forum.pg_post .ct2_a_r { background-image: none; }