</div>




						</div>
					</div>
				</div>
			</div>
			<div class="main-bm">
				<div class="main-bl"></div>
				<div class="main-br"></div>
			</div>
			
			<!-- End Main Body -->

		</div>
		
		<!-- End Wrapper -->

		<!-- Begin Footer -->

		<div id="footer-bg">
			<div class="wrapper_ii">
				<div id="footer">


<div id="bottom-content">
<div class="Column_1">
<div class="title">Test 1</div>
<div class="content">
<p>test.........</p>
<p>test.........</p>
<p>test.........</p>
<p>test.........</p>
<p>test.........</p>
</div>
</div>
<div class="Column_2">
<div class="title">Test 2</div>
<div class="content">
<p>test.........</p>
<p>test.........</p>
<p>test.........</p>
<p>test.........</p>
<p>test.........</p>
</div>
</div>
<div class="Column_3">
<div class="title">Test 3</div>
<div class="content">
<p>test.........</p>
<p>test.........</p>
<p>test.........</p>
<p>test.........</p>
<p>test.........</p>
</div>
</div>
<div class="Column_4">
<div class="title">Test 4</div>
<div class="content">
<p>test.........</p>
<p>test.........</p>
<p>test.........</p>
<p>test.........</p>
<p>test.........</p>
</div>
</div>
<div style="clear: both;"></div>
</div>


					<!-- Begin Copyright Section -->
					
					<div class="copyright-block">
						<div class="footer-div"></div>
					
						
							
						<!-- Begin Copyright -->
						
						<div id="copyright">
	
	<!--{ad/footerbanner/wp a_f/1}--><!--{ad/footerbanner/wp a_f/2}--><!--{ad/footerbanner/wp a_f/3}-->
	<!--{ad/float/a_fl/1}--><!--{ad/float/a_fr/2}-->
	<!--{ad/couplebanner/a_fl a_cb/1}--><!--{ad/couplebanner/a_fr a_cb/2}-->

	<!--{hook/global_footer}-->
	<div id="ft_ii" class="wp cl">
		<div id="flk" class="y">
			<p>
				<!--{eval $fnavcount=0;}-->
				<!--{loop $_G['setting']['footernavs'] $nav}--><!--{if $nav['available'] && ($nav['type'] && (!$nav['level'] || ($nav['level'] == 1 && $_G['uid']) || ($nav['level'] == 2 && $_G['adminid'] > 0) || ($nav['level'] == 3 && $_G['adminid'] == 1)) ||
						!$nav['type'] && ($nav['id'] == 'stat' && $_G['group']['allowstatdata'] || $nav['id'] == 'report' && $_G['uid'] || $nav['id'] == 'archiver'))}-->$nav[code]<span class="pipe">|</span><!--{/if}--><!--{/loop}-->
				<strong><a href="$_G['setting']['siteurl']" target="_blank">$_G['setting']['sitename']</a></strong>
				<!--{if $_G['setting']['icp']}-->( <a href="http://www.miitbeian.gov.cn/" target="_blank">$_G['setting']['icp']</a> )<!--{/if}-->
				<!--{if $_G['setting']['statcode']}-->$_G['setting']['statcode']<!--{/if}-->				
				<!--{hook/global_footerlink}-->
				<span class="pipe">|</span><a href="javascript:;" onclick="window.scrollTo(0,0);">Back To Top</a>
			</p>
			<p class="xs0">
				{lang time_now}
				<span id="debuginfo">
				<!--{if debuginfo()}-->, Processed in $_G[debuginfo][time] second(s), $_G[debuginfo][queries] queries
					<!--{if $_G['gzipcompress']}-->, Gzip On<!--{/if}--><!--{if $_G['memory']}-->, <!--{echo ucwords($_G['memory'])}--> On<!--{/if}-->.
				<!--{/if}-->
				</span>
			</p>
		</div>
		<div id="frt">
			<p>Powered by <strong><a href="http://www.discuz.net" target="_blank">Discuz!</a></strong> <em>$_G['setting']['version']</em><!--{if !empty($_G['setting']['boardlicensed'])}--> <a href="http://license.comsenz.com/?pid=1&host=$_SERVER[HTTP_HOST]" target="_blank">Licensed</a><!--{/if}--></p>
			<p class="xs0">&copy; 2001-2010 <a href="http://www.comsenz.com" target="_blank">Comsenz Inc.</a></p>
		</div>
		<!--{eval updatesession();}-->
	</div>
						</div>
						
						<!-- End Copyright -->

						<!-- Begin Footer Logo -->
						
						<a href="http://www.freedom-design.net/" title="FREEDOM-DESiGN.NET" id="bottom_logo" name="bottom_logo"></a>
						
						<!-- End Footer Logo -->

					</div>
					
					<!-- End Copyright Section -->

				</div>
				<div id="footer-bg2"></div>
				<div id="footer-bg3"></div>
			</div>
		</div>
		
		<!-- End Footer -->


</div>