/*
[name]默认风格[/name]
Powered by Discuz! X
*/

body { background: #F8F8F8; }
a { color: #87B5CB; }
#hd { margin-top: 30px; width: 948px; height: 269px; border: 1px solid #87B5CB; background: #87B5CB url(images/header.jpg) no-repeat 100% 0; color: #87B5CB; }
	#hd h2 { padding: 20px 0 0 30px; line-height: 115%; }
	#nv { bottom: 10px; }
		#nv li { background: none; opacity: 1; filter: alpha(opacity=100); font-size: 14px; }
		#nv a, #nv a:visited { color: #87B5CB; }
.block { border: 1px solid #DDD; background: #FFF; }
	.block .title { border-bottom: 1px solid #DDD; background: #EAF1F2 url(images/title.png) repeat-x 0 0; }
.tl .th { background: none; }
#nv li a:hover { background-image: none !important; }
#ft { border-top: 1px solid #CCC; _margin-top: 10px; }
#hd A {color:#87B5CB !important;}
#ct A {color:#87B5CB !important;}