[submodule "discuzx/upload/extensions/libs/scophp"]
	path = discuzx/upload/extensions/libs/scophp
	url = git@github.com:bluelovers/Scophp.git
[submodule "discuzx/upload/extensions/js/SyntaxHighlighter"]
	path = discuzx/upload/extensions/js/SyntaxHighlighter
	url = git@github.com:bluelovers/SyntaxHighlighter.git
