/*
[name]我们的约定[/name]
Powered by Discuz! X2
*/


/*------------------------------------------------------------------请对以下的参数做相应的修改-----------------------------------------------*/

/********页面文字基本颜色***/
#ct { color: #93773c; }
/********带链接的文字的颜色***/
#ct a { color: #ffffff; }
/********页面背景颜色，注意：background-image的参数千万不要修改***/
body { background-color:#000000; background:url(images/tile.gif);}

/********首页各版块的标题样式、标题颜色、版块的背景颜色和边框颜色***/
.block .title { padding: 0 10px; border-bottom: none; background:url(images/bg_title.gif) repeat-x; }
	.block .title, .block .title a { color: #fdf5d9; }
.block{border:1px solid #130d12; background:#130d12;}
/********其他页面版块的边框颜色和背景颜色、标题样式***/
.bm {border:1px solid #130d12; background:#130d12;}
	.bm_h { border: none; background:url(images/bg_title.gif) repeat-x; }
/********头部标题的颜色***/
.mingzi{color:#0f090e;}
/********头部状态的颜色***/
.notes2{color:#0f090e;}
/********导航栏上面的“复制地址”和“发给好友”样式***/
.dizhi {background-color:#130d12;}
.dizhi a{color:#51482d;}
/********“所有状态”四个字的颜色***/
.topmood a{color:#81785c;}
/********页面底部分割线的颜色及底部背景图片***/
.zuixiamian{border-top:1px solid #130d12;}
/********页面底部文字的颜色***/
.zuixiamian,.zuixiamian *{color:#81785c;}
/********页面底部背景图片***/
.zuidibu{background:url(images/footer.jpg) no-repeat top center;}
/********以下是顶部导航菜单的样式，请对应修改相应的颜色***/
.tabs_header { border-bottom:1px solid #130d12;}
.tabs_header li {color:#ffffff}
.tabs_header li a {border:1px solid #9b3b26; background-color:#9b3b26; color:#ffffff; }
.tabs_header li a:hover { border-bottom:none; background-color:#9b3b26/***鼠标滑过*/;  }
.tabs_header li.active a {border:1px solid #130d12; border-bottom:1px solid #130d12; background:#130d12;}
.tabs_header li.active a:link, .tabs_header li.active a:visited { color:#93773c;}
.tabs_header li.active a:hover { border-bottom:1px solid #130d12; background:#9b3b26;}
.tabs_header li.null a {background: #9b3b26; border:1px solid #130d12; border-left:1px solid #130d12; border-top:1px solid #130d12; }
.tabs_header li.null a:link, .tabs_header li.null a:visited { color:#ffffff;}
.tabs_header li.null a:hover { border:1px solid #9b3b26; background:#9b3b26;}



/*------------------------------------------------------------------以下是基本样式，请不要修改-----------------------------------------------*/
#hd { background: url(images/header.jpg) no-repeat 0 0;color:#000; height:450px;}
#hd h2 { color: #000; }
#nv { bottom: auto; left: auto; top: 45px; right: 0; }
#nv li { padding: 0px 2px; }
#nv li a, #nv li a:visited { padding: 0px 10px; color: #333; }
#nv li a:hover { background-image: none !important; }
#ct, .n, .w { background: transparent none !important; }
.bbda, .el li { border-bottom-color: #e3eef8; }
.vw .ph, .vw .d{ color: #FFF; }
.tl .th { background: none; }
#doingform { background: none; }