/* ----------------------------------
Self-adaption Width CSS file for Discuz! X
(C) Comsenz Inc.
http://www.comsenz.com
Created & Modified by Alice.
---------------------------------- */

#nv, #mu { border-left:0px solid {COMMONBORDER}; border-right:0px solid {COMMONBORDER}; }
#nv { background-repeat: repeat-x; background-position: 0 -33px; }
#mu ul {background:#F7F7E7 url({STYLEIMGDIR}/mu_bg.png) repeat-x 0 100%; border-right:1px solid #EDDBAC; border-bottom:1px solid #E2E2E2; border-left:1px solid #EDDBAC; line-height: 22px; z-index: 2; font-size: 12px;}

.pg_post .ct2_a .appl { background:none !important; margin-right:-140px; }
.ct2_a .mn { width:98%; }
.ct2_a, .ct3_a { background:none !important; }
