#toptb a{color:#444; float: left; padding: 0 4px; height: 30px;}
.ftbox{ padding: 0 0 0 0; height:auto; background-color:transparent;}
.ftwp{ background:none;}
.ft_yjbox_l,.ft_yjbox_r{ background:none; display:none;}
