/* --------------------------------
(C) Comsenz Inc.
http://www.comsenz.com
----------------------------------*/
* { margin: 0; padding: 0; }
body { background: #D3DDDC url(images/bg.jpg) repeat-x 0 0; } /** ±³¾°Í¼Æ¬ **/
body, input, button, select, textarea { font:12px Tahoma,Helvetica,sans-serif;color:#333; }
	textarea { resize: none; }
table { empty-cells: show; border-collapse: collapse; }
	caption, th { text-align: left; font-weight: 400; }
ul li { list-style: none; }
h1, h2, h3, h4, h5, h6 { font-size: 1em; }
em, cite { font-style: normal; }
a { color: #333; text-decoration: none; }
	a:hover { color: #356CA7; text-decoration: underline; }
	a img { border: none; }

.topnav { margin-bottom: 20px; height: 30px; background: url(images/topnav.png) repeat-x; color: #333; text-shadow: 1px 1px 1px #FFF; }
	.topnav li { float: left; margin-top: 5px; }
		.topnav li a { padding: 0 10px; }
			.topnav li a span { display: none; }
	.navlogo { border-right: 1px solid #FFF; background: url(images/pt_icn.png) no-repeat 5px 50%; }
		.topnav li.navlogo a { padding-left: 25px; border-right: 1px solid #D5D5D5; }
	.navinf { float: right; display: inline; margin: 5px 10px 0 0; }
	.pipe { margin: 0 5px; color: #CCC; }

.wp { margin: 0 auto 20px; width:878px; }
#hd { padding: 10px 0; }
.mn { padding: 20px; border: 3px solid #C9D3D2; background: #FFF; -moz-border-radius: 8px; } /**  ±ß¿òÏß **/
.info { margin-bottom: 20px; }
	.info h1 { padding: 8px 0; font-weight: 100; font-size: 22px; text-align: center; color: #333; } /** ±êÌâ **/
	.info p { line-height: 22px; font-size: 14px; color: #666; }
#ft { margin-top: 30px; padding-top: 10px; border-top: 1px solid #CCC ; text-align: center; color: #666; }
	#ft p { padding: 5px 0; }

.poll { }
	.poll table { width: 100%; }
		.poll th { padding: 14px 2px 8px 2px; background: #F5F5F5; font-weight: 700; }
			.poll th, .poll td { border-bottom: 1px solid #EEE; padding:8px 2px; }
		.poll .o { width: 30px; text-align:center; }
		.poll .pbg { height: 16px; background: url(images/pllb.png) repeat-x 0 0; -moz-border-radius: 0 6px 6px 0; }
		.poll .pbr { height: 16px ; background: #009B9B url(images/pllb.png) repeat-x 0 -16px; -moz-border-radius: 0 6px 6px 0;  }
	.poll .title { width: 300px; }
		.poll .title label { display: block; cursor: pointer; }
	.poll .num { width: 70px; }

.ppl { padding-top: 5px; }
	.ppl li { float: left; margin: 0 5px; padding: 11px 11px 0; width: 176px; height: 255px; background: url(images/pic.png) no-repeat 0 0; overflow: hidden; display:inline; }
		.ppl li .thumb { width: 176px; height: 176px; display: table-cell; vertical-align:middle; text-align: center; outline:none; *display: block; *font-size: 154px; *font-family:Arial; *line-height:0; overflow: hidden; cursor: pointer; }/*0.873*/
			.ppl li .thumb a { }
			.ppl li .thumb img{vertical-align:middle;}
		.ppl li .c { margin-top: 8px; padding-top: 4px; color: #999; }
			.ppl li .c h3 { height: 20px; width: 100%; white-space:nowrap; overflow: hidden; color: #333; }
			.ppl li .c strong { color: #333; }
			.ppl li .c button { float: right; }

.btn { text-align:center; margin-top: 20px;}
	.btn_poll { padding-left: 20px; border: none; background: url(images/btn_poll.gif) no-repeat 4px 50%; color: #369; cursor: pointer;}
	.submit { margin: 0 auto; width: 84px; height: 34px; border: none; background: url(images/btn_submit.gif) no-repeat 0 0; text-indent:-9999px; display: block; overflow: hidden; cursor: pointer;}