<!--{eval $carray = array();}-->
<!--{eval $beforeuser = 0;}-->
<!--{loop $list['feed'] $feed}-->
	<!--{eval $content = $list['content'][$feed['tid']];}-->
	<!--{eval $thread = $list['threads'][$content['tid']];}-->
	<li class="cl" id="feed_li_$feed['feedid']" onmouseover="this.className='flw_feed_hover cl'" onmouseout="this.className='cl'">
		<div class="z flw_avt">
			<!--{if $beforeuser != $feed['uid']}-->
			<!--{eval $beforeuser = $feed['uid'];}-->
			<a href="home.php?mod=space&uid=$feed[uid]{$hrefsuffix}" class="z" c="1" shref="home.php?mod=space&uid=$feed[uid]"><!--{avatar($feed[uid],'small')}--></a>
			<span class="cnr"></span>
			<!--{/if}-->
		</div>
		<div class="flw_article">
			<!--{if $feed[uid] == $_G[uid] || $_G['adminid'] == 1}-->
			<a href="home.php?mod=spacecp&ac=follow&feedid=$feed[feedid]&op=delete" id="c_delete_$feed['feedid']" onclick="showWindow(this.id, this.href, 'get', 0);" class="flw_delete">{lang delete}</a>
			<!--{/if}-->
			<div class="flw_author pbm">
			<a href="home.php?mod=space&uid=$feed[uid]{$hrefsuffix}" c="1" shref="home.php?mod=space&uid=$feed[uid]">$feed['username']</a>
			<span class="xg1">&nbsp;<!--{eval echo dgmdate($feed['dateline'], 'u');}--></span>
			</div>
			<!--{if $feed['note']}-->
			<div class="flw_quotenote xs2 pbw">
				$feed['note']
			</div>
			<div class="flw_quote">
			<!--{/if}-->
			<!--{if !empty($thread)}-->
			<h2 class="wx pbm">
				<!--{if isset($carray[$feed['cid']])}-->
				<a href="javascript:;" onclick="vieworiginal(this, 'original_content_$feed[feedid]');return false;" class="flw_readfull y xw0 xs1 xi2">+ 展开全文</a>
				<!--{/if}-->
				<a href="forum.php?mod=viewthread&tid=$content['tid']&extra=page%3D1" target="_blank">$thread['subject']</a>
			</h2>

			<div class="pbm c cl" id="original_content_$feed[feedid]" {if isset($carray[$feed['cid']])} style="display: none"{/if}>
				$content['content']
				<!--{if $thread['special']}-->
				<br/>
				<a href="forum.php?mod=viewthread&tid=$content['tid']&extra=page%3D1" target="_blank">这是一个特殊主题，点这里可以回原帖查看详细内容</a>
				<!--{/if}-->
			</div>
			<div class="xg1 cl">
				<span class="y">
				<a href="javascript:;" id="relay_$feed[feedid]" onclick="quickrelay($feed['feedid'], $thread['tid']);">转播($content['relay'])</a>&nbsp; 
				<a href="javascript:;" onclick="quickreply($thread['fid'], $thread['tid'], $feed['feedid'])">回复($thread['replies'])</a>
				</span>
				<!--{if $feed['note']}--><a href="home.php?mod=space&uid=$feed[uid]{$hrefsuffix}">$thread['author']</a> 发表于 <!--{date($thread['dateline'])}-->&nbsp;<!--{/if}--><!--{if $_G['cache']['forums'][$thread['fid']]['name']}-->#<a href="forum.php?mod=forumdisplay&fid=$thread['fid']">$_G['cache']['forums'][$thread['fid']]['name']</a><!--{/if}-->
			</div>
			<!--{else}-->
			<div class="pbm c cl" id="original_content_$feed[feedid]" {if isset($carray[$feed['cid']])} style="display: none"{/if}>
			该主题已被删除
			</div>
			<!--{/if}-->
			<!--{if $feed['note']}--></div><!--{/if}-->
		</div>
		<div id="replybox_$feed['feedid']" class="flw_replybox cl" style="display: none;"></div>
		<div id="relaybox_$feed['feedid']" class="flw_replybox cl" style="display: none;"></div>
	</li>
	<!--{if !isset($carray[$feed['cid']])}-->
		<!--{eval $carray[$feed['cid']] = $feed['cid'];}-->
	<!--{/if}-->
<!--{/loop}-->