<!--{if $_G['setting']['homestatus']}-->
	<!--{subtemplate home/space_header}-->
<!--{else}-->
	<!--{subtemplate common/header}-->
<!--{/if}-->
	<div id="ct" class="ct2 wp n cl{if !$_G['setting']['homestatus']} mtm{/if}">
		<div id="pprl" class="mn">
			<div class="bm bbda">
				<div class="bm_h">
					<h1>{lang memcp_profile}</h1>
				</div>
				<!--{subtemplate home/space_profile_body}-->
		</div>
	</div>
		<div class="sd">
			<!--{subtemplate home/space_userabout}-->
		</div>
	</div>
<!--{subtemplate common/footer}-->