<ul class="tb cl">
	<!--{if $usergroups}-->
		<li class="y$activegs[my]"><a href="home.php?mod=spacecp&ac=usergroup" class="showmenu" id="gmy" onmouseover="showMenu(this.id)">{lang my_usergroups}</a></li>
		<li class="y$activegs[upgrade]"><a class="showmenu" id="gupgrade" onmouseover="showMenu(this.id)">{lang usergroup_group2}</a></li>
		<li class="y$activegs[user]"><a class="showmenu" id="guser" onmouseover="showMenu(this.id)">{lang usergroup_group1}</a></li>
		<li class="y$activegs[admin]"><a class="showmenu" id="gadmin" onmouseover="showMenu(this.id)">{lang usergroup_group3}</a></li>
	<!--{/if}-->
	<li$activeus[usergroup]><a href="home.php?mod=spacecp&ac=usergroup">{lang my_usergroups}</a></li>
	<!--{if $_G['member']['groupexpiry']}-->
		<li$activeus[expiry]><a href="home.php?mod=spacecp&ac=usergroup&do=expiry">{lang my_groupexpiry}</a></li>
	<!--{/if}-->
	<li$activeus[forum]><a href="home.php?mod=spacecp&ac=usergroup&do=forum">{lang my}{$_G['setting']['navs'][2]['navname']}{lang rights}</a></li>
</ul>