<!--{eval $_G['home_tpl_titles'] = array('{lang remind}');}-->
<!--{template common/header}-->
<div id="pt" class="bm cl">
	<!--{subtemplate common/simplesearchform}-->
	<div class="z">
		<a href="./" class="nvhm" title="{lang homepage}">$_G[setting][bbname]</a> <em>&rsaquo;</em>
		<a href="home.php">$_G[setting][navs][4][navname]</a> <em>&rsaquo;</em>
		<a href="home.php?mod=space&do=notice">{lang news}</a>
	</div>
</div>

<style id="diy_style" type="text/css"></style>
<div class="wp">
	<!--[diy=diy1]--><div id="diy1" class="area"></div><!--[/diy]-->
</div>

<div id="ct" class="ct2_a wp cl">
	<div class="mn">
		<div class="bm bw0">
			<h1 class="mt"><img alt="pm" src="{STATICURL}image/feed/nts.gif" class="vm" /> {lang remind}</h1>
			<!--{subtpl subblock/home/space_notice_nav}-->

		<!--{if $view=='userapp'}-->

			<script type="text/javascript">
				function manyou_add_userapp(hash, url) {
					if(isUndefined(url)) {
						$(hash).innerHTML = "<tr><td colspan=\"2\">{lang successfully_ignored_information}</td></tr>";
					} else {
						$(hash).innerHTML = "<tr><td colspan=\"2\">{lang is_guide_you_in}</td></tr>";
					}
					var x = new Ajax();
					x.get('home.php?mod=misc&ac=ajax&op=deluserapp&hash='+hash, function(s){
						if(!isUndefined(url)) {
							location.href = url;
						}
					});
				}
			</script>

			<div class="ct_vw cl">
				<div class="ct_vw_sd">
					<ul class="mtw">
						<!--{if $list}--><li><a href="home.php?mod=space&do=notice&view=userapp">{lang all_applications_news}</a></li><!--{/if}-->
						<!--{loop $apparr $type $val}-->
						<li class="mtn">
							<a href="home.php?mod=userapp&id=$val[0][appid]&uid=$space[uid]" title="$val[0][typename]"><img src="http://appicon.manyou.com/icons/$val[0][appid]" alt="$val[0][typename]" class="vm" /></a>
							<a href="home.php?mod=space&do=notice&view=userapp&type=$val[0][appid]"> <!--{eval echo count($val);}--> {lang unit} $val[0][typename] <!--{if $val[0][type]}-->{lang request}<!--{else}-->{lang invite}<!--{/if}--></a>
						</li>
						<!--{/loop}-->
					</ul>
				</div>
				<div class="ct_vw_mn">
					<!--{if $list}-->
						<!--{loop $list $key $invite}-->
							<h4 class="mtw mbm">
								<a href="home.php?mod=space&do=notice&view=userapp&op=del&appid=$invite[0][appid]" class="y xg1">{lang ignore_invitations_application}</a>
								<a href="home.php?mod=userapp&id=$invite[0][appid]&uid=$space[uid]" title="$apparr[$invite[0][appid]]"><img src="http://appicon.manyou.com/icons/$invite[0][appid]" alt="$apparr[$invite[0][appid]]" class="vm" /></a>
								{lang notice_you_have} <!--{eval echo count($invite);}--> {lang unit} $invite[0][typename] <!--{if $invite[0][type]}-->{lang request}<!--{else}-->{lang invite}<!--{/if}-->
							</h4>
							<div class="xld xlda">
							<!--{loop $invite $value}-->
								<dl class="bbda cl">
									<dd class="m avt mbn">
										<a href="home.php?mod=space&uid=$value[fromuid]"><!--{avatar($value[fromuid],small)}--></a>
									</dd>
									<dt id="$value[hash]">
										<div class="xw0 xi3">$value[myml]</div>
									</dt>
								</dl>
							<!--{/loop}-->
							</div>
						<!--{/loop}-->
						<!--{if $multi}--><div class="pgs cl">$multi</div><!--{/if}-->
					<!--{else}-->
						<div class="emp">{lang no_request_applications_invite}</div>
					<!--{/if}-->
				</div>
			</div>

		<!--{else}-->

			<div class="tbmu" style="display:none;">
				<a href="home.php?mod=space&do=notice" {if empty($type)}class="a"{/if}>{lang all_notice}</a>
				<!--{loop $noticetypes $key $name}-->
				<span class="pipe">|</span><a href="home.php?mod=space&do=notice&type=$key" {if $key==$type}class="a"{/if}>$name</a>
				<!--{/loop}-->
			</div>
			<div class="tbms mtm mbm">
				<a href="home.php?mod=spacecp&ac=privacy&op=filter" target="_blank" class="y xi2">{lang feed_filter}</a>
				{lang notice_warning_message}
			</div>

			<!--{if $newprompt}-->
			<div class="xld xlda">
				<script type="text/javascript">
					var promptNum = {pendingfriends:$space[pendingfriends],pokes:$space[pokes]};
					function getNewFriendQuery(uid) {
						promptNum.pendingfriends--;
						if(promptNum.pendingfriends >= 1) {
							$('pendingfriend_'+uid).parentNode.style.display = 'none';
							$("pendingFriendsNum").innerHTML = promptNum.pendingfriends;
							if(promptNum.pendingfriends > 1) {
								var newPObj = document.createElement("dl");
								var x = new Ajax();
								x.get('home.php?mod=spacecp&ac=friend&op=getonequery&inajax=1', function(s){
									newPObj.innerHTML = s;
								});
								$('pendingFriendsBody').appendChild(newPObj);

							}
						} else {
							$("pendingFriendsList").style.display = 'none';
						}
					}

					function getNewPokeQuery(uid) {
						promptNum.pokes--;
						if(promptNum.pokes >= 1) {
							$('pokeQuery_'+uid).parentNode.style.display = 'none';
							$("pokesNum").innerHTML = promptNum.pokes;
							if(promptNum.pokes > 1) {
								var newPObj = document.createElement("dl");
								var x = new Ajax();
								x.get('home.php?mod=spacecp&ac=poke&op=getpoke&inajax=1', function(s){
									newPObj.innerHTML = s;
								});
								$('pokesBody').appendChild(newPObj);
							}
						} else {
							$("pokesList").style.display = 'none';
						}
					}
					function errorhandle_pokeignore(msg, values) {
						getNewPokeQuery(values['uid']);
					}
				</script>
				<!--{if $pendingfriends}-->
				<div id="pendingFriendsList" class="bbs pbm">
					<div class="pbm ptm cl">
						<h2><img src="{STATICURL}image/feed/friend.gif" alt="friend" class="vm" /> <strong class="xi1" id="pendingFriendsNum">$space[pendingfriends]</strong> {lang a_friend_request}</h2>
					</div>
					<div id="pendingFriendsBody" class="nts">
						<!--{loop $pendingfriends $value}-->
						<dl class="cl">
							<dd class="m avt"><a href="home.php?mod=space&uid=$value[fuid]" c="1"><!--{avatar($value[fuid],middle)}--></a></dd>
							<dt id="pendingfriend_$value[fuid]">
								<p class="mbm">
									<a href="home.php?mod=space&uid=$value[fuid]" class="xi2">$value[fusername]</a>:
									<span class="xw0">
										{lang invite_add_friend}<!--{if $value[note]}-->,&nbsp;{lang reason}:$value[note]<!--{/if}-->
										&nbsp; <span class="xg1"><!--{date($value[dateline], 'n-j H:i')}--></span>
									</span>
								</p>
								<div class="pbn ptm xi2 xw0 cl">
									<a href="home.php?mod=spacecp&ac=friend&op=add&uid=$value[fuid]&from=notice" id="afr_$value[fuid]" class="xw1" onclick="showWindow(this.id, this.href, 'get', 0);">{lang confirm_applications}</a><span class="pipe">|</span>
									<a href="home.php?mod=spacecp&ac=friend&op=ignore&uid=$value[fuid]&confirm=1&from=notice" id="afi_$value[fuid]" onclick="showWindow(this.id, this.href, 'get', 0);">{lang ignore}</a>
								</div>
							</dt>
						</dl>
						<!--{/loop}-->
					</div>
					<div class="nts"><div class="more"><a href="home.php?mod=spacecp&ac=friend&op=request" target="_blank" class="xi2">{lang view_more}...</a></div></div>

				</div>
				<!--{/if}-->

				<!--{if $pokes}-->
				<!--{subtemplate home/spacecp_poke_type}-->
				<div id="pokesList" class="bbs pbm">
					<div class="pbm ptm cl">
						<h2><img src="{STATICURL}image/feed/poke.gif" alt="poke" class="vm" /> <strong class="xi1" id="pokesNum">$space[pokes]</strong> {lang a_new_poke}</h2>
					</div>
					<div id="pokesBody" class="nts">
						<!--{loop $pokes $value}-->
						<dl class="cl">
							<dd class="m avt"><a href="home.php?mod=space&uid=$value[fromuid]" c="1"><!--{avatar($value[fromuid],small)}--></a></dd>
							<dt id="pokeQuery_$value[fromuid]">
								<p class="mbm">
									<a href="home.php?mod=space&uid=$value[fromuid]" class="xi2">{$value[fromusername]}</a>:
									<span class="xw0">
										<!--{if $value[iconid]}-->{$icons[$value[iconid]]}<!--{else}-->{lang say_hi}<!--{/if}-->
										<!--{if $value[note]}-->, {lang say}: $value[note]<!--{/if}-->
										&nbsp; <span class="xg1"><!--{date($value[dateline], 'n-j H:i')}--></span>
									</span>
								</p>
								<div class="pbn ptm xi2 xw0 cl">
									<a href="home.php?mod=spacecp&ac=poke&op=reply&uid=$value[fromuid]&from=notice" id="a_p_r_$value[fromuid]" class="xw1" onclick="showWindow(this.id, this.href, 'get', 0);">{lang back_to_say_hello}</a><span class="pipe">|</span>
									<a href="home.php?mod=spacecp&ac=poke&op=ignore&uid=$value[fromuid]&from=notice" id="a_p_i_$value[fromuid]" onclick="showWindow('pokeignore', this.href, 'get', 0);">{lang ignore}</a>
								</div>
							</dt>
						</dl>
						<!--{/loop}-->
					</div>
					<div class="nts"><div class="more"><a href="home.php?mod=spacecp&ac=poke" target="_blank" class="xi2">{lang view_more}...</a></div></div>
				</div>
				<!--{/if}-->

				<!--{if $space[myinvitations]}-->
				<div id="myInviteList" class="bbs pbm">
					<div class="pbm ptm cl">
						<h2><img src="{STATICURL}image/feed/userapp.gif" alt="userapp" class="vm" /> <strong class="xi1" id="myInviteNum">$space[myinvitations]</strong> {lang a_userapp}</h2>
					</div>
					<div class="nts">
						<dl class="cl">
							<dd class="m avt mbn"><img src="{IMGDIR}/systempm.gif" alt="systempm" /></dd>
							<dt class="ntc_body" id="myInviteBody">
								<p class="mbm"><a href="home.php?mod=space&do=notice&view=userapp" target="_blank" class="xi2">{lang enter_app_notice_operation}</a></p>
								<div class="pbn ptm xi2 xw0 cl">&nbsp;</div>
							</dt>
						</dl>
					</div>
				</div>
				<!--{/if}-->

			</div>
			<!--{/if}-->

			<!--{if $list}-->
				<div class="xld xlda bbs">
					<div class="pbm ptm cl">
						<h2><img src="{STATICURL}image/feed/notice.gif" alt="notice" class="vm" /> <strong class="xi1">$newnotice</strong> {lang a_new_notice} , {lang total}<strong class="xi1">$count</strong>{lang a_notice}</h2>
					</div>
					<div class="nts">
						<!--{loop $list $key $value}-->
							<dl class="cl">
								<dd class="m avt mbn">
									<!--{if $value[authorid]}-->
									<a href="home.php?mod=space&uid=$value[authorid]"><!--{avatar($value[authorid],small)}--></a>
									<!--{else}-->
									<img src="{IMGDIR}/systempm.gif" alt="systempm" />
									<!--{/if}-->
								</dd>
								<dt>
									<a class="d b" href="home.php?mod=spacecp&ac=common&op=ignore&authorid=$value[authorid]&type=$value[type]&handlekey=addfriendhk_{$value[authorid]}" id="a_note_$value[id]" onclick="showWindow(this.id, this.href, 'get', 0);" title="{lang shield}">{lang shield}</a>
									<span class="xg1 xw0"><!--{date($value[dateline], 'u')}--></span>
								</dt>
								<dd class="ntc_body" style="$value[style]">
									$value[note]
								</dd>

								<!--{if $value[from_num]}-->
								<dd class="xg1 xw0">{lang ignore_same_notice_message}</dd>
								<!--{/if}-->

								<!--{if $value[authorid] && !$value[isfriend]}-->
								<dd class="mtw xi2">
									<a href="home.php?mod=spacecp&ac=friend&op=add&uid=$value[authorid]&handlekey=addfriendhk_{$value[authorid]}" id="add_note_friend_$value[authorid]" onclick="showWindow(this.id, this.href, 'get', 0);">{lang add_friend}</a>
									<span class="pipe">|</span>
									<a href="home.php?mod=spacecp&ac=poke&op=send&uid=$value[authorid]" id="a_poke_$value[authorid]" onclick="showWindow(this.id, this.href, 'get', 0);">{lang say_hi}</a>
								</dd>
								<!--{/if}-->
							</dl>
						<!--{/loop}-->
					</div>
				</div>

				<!--{if $view!='userapp' && $space[notifications]}-->
				<div class="mtm mbm"><a href="home.php?mod=space&do=notice&ignore=all">{lang ignore_same_notice_message} <em>&rsaquo;</em></a></div>
				<!--{/if}-->

				<!--{if $multi}--><div class="pgs cl">$multi</div><!--{/if}-->
			<!--{/if}-->

		<!--{/if}-->
		</div>
	</div>
	<div class="appl">
		<!--{subtemplate common/userabout}-->

		<div class="drag">
			<!--[diy=diy2]--><div id="diy2" class="area"></div><!--[/diy]-->
		</div>

	</div>
</div>

<div class="wp mtn">
	<!--[diy=diy3]--><div id="diy3" class="area"></div><!--[/diy]-->
</div>

<!--{template common/footer}-->