<!--{subtemplate common/header}-->
<style id="diy_style" type="text/css"></style>
<div class="wp">
	<!--[diy=diy200]--><div id="diy200" class="area"></div><!--[/diy]-->
</div>
<div class="cl wp">
	  <div class="moke8_oneleft">
	    <div class="moke8_oneleft_boxone">
	    <!--[diy=moke10]--><div id="moke10" class="area"></div><!--[/diy]-->
		</div>
		<div class="moke8_oneleft_boxtwo">	
        <h2 class="moke8_title">网站公告</h2>	  
			<!--[diy=moke11]--><div id="moke11" class="area"></div><!--[/diy]-->
		</div>
	  </div>
      <div class="moke8_onemiddle">
	    <div class="moke8_onemiddle_boxone">
		  <div class="moke8_onemiddle_boxtwo clearfix">
          <div class="center">
		  <!--[diy=moke12]--><div id="moke12" class="area"></div><!--[/diy]-->
          </div>
		  </div>
		</div>
	  </div>
      <div class="moke8_oneright">
	    <div class="moke8_oneright_boxone">
           <h2 class="moke8_title">热点新闻</h2>
	    <!--[diy=moke13]--><div id="moke13" class="area"></div><!--[/diy]-->
		</div>
		<div class="moke8_oneright_boxone moke8_add">
           <h2 class="moke8_title">精彩新闻</h2>
		<!--[diy=moke14]--><div id="moke14" class="area"></div><!--[/diy]-->
		</div>
	  </div>
</div>

<div class="cl wp mt8">
     <div class="moke8_boxl">
        <h2 class="moke8_title"><strong>美食餐饮</strong><span class="more"><a href="#">麻辣点评</a> | <a href="#">拼拼吃吃</a> | <a href="#">美食探店</a> | <a href="#">商家自荐</a> | <a href="#">各类美食</a></span></h2>
        <div class="moke8_box_boxl">
        <!--[diy=moke15]--><div id="moke15" class="area"></div><!--[/diy]-->
        </div>
        <div class="moke8_box_boxr">
        <!--[diy=moke115]--><div id="moke115" class="area"></div><!--[/diy]-->
        </div>
     </div>
     <div class="moke8_boxr">
        <h2 class="moke8_title">促销打折</h2>
        <!--[diy=moke16]--><div id="moke16" class="area"></div><!--[/diy]-->
     </div>
</div>

<div class="cl wp mt8">
     <div class="moke8_boxl">
        <h2 class="moke8_title"><strong>谈婚论嫁</strong><span class="more"><a href="#">试彩妆</a> | <a href="#">淘礼服</a> | <a href="#">拍婚照</a> | <a href="#">度蜜月</a> | <a href="#">说心得</a> | <a href="#">选婚庆</a> | <a href="#">找花艺</a></span></h2>
        <div class="moke8_box_boxl">
        <!--[diy=moke17]--><div id="moke17" class="area"></div><!--[/diy]-->
        </div>
        <div class="moke8_box_boxr">
        <!--[diy=moke117]--><div id="moke117" class="area"></div><!--[/diy]-->
        </div>
     </div>
     <div class="moke8_boxr">
        <h2 class="moke8_title">游山玩水</h2>
        <!--[diy=moke18]--><div id="moke18" class="area"></div><!--[/diy]-->
     </div>
</div>

<div class="cl wp mt8">
     <div class="moke8_boxl">
        <h2 class="moke8_title"><strong>居家装修</strong><span class="more"><a href="#">装修日记</a> | <a href="#">我秀我家</a> | <a href="#">家装省钱</a> | <a href="#">装修公司</a></span></h2>
        <div class="moke8_box_boxl">
        <!--[diy=moke19]--><div id="moke19" class="area"></div><!--[/diy]-->
        </div>
        <div class="moke8_box_boxr">
        <!--[diy=moke119]--><div id="moke119" class="area"></div><!--[/diy]-->
        </div>
     </div>
     <div class="moke8_boxr">
        <h2 class="moke8_title">优惠卷</h2>
        <!--[diy=moke20]--><div id="moke20" class="area"></div><!--[/diy]-->
     </div>
</div>

<div class="cl wp mt8">
     <div class="moke8_boxl">
        <h2 class="moke8_title"><strong>车行天下</strong><span class="more"><a href="#">城市车讯</a> | <a href="#">经验分享</a> | <a href="#">车坛动态</a> | <a href="#">测试对比</a> | <a href="#">试乘试驾</a> | <a href="#">购车指南</a> | <a href="#">购车咨询</a></span></h2>
        <div class="moke8_box_boxl">
        <!--[diy=moke21]--><div id="moke21" class="area"></div><!--[/diy]-->
        </div>
        <div class="moke8_box_boxr">
        <!--[diy=moke121]--><div id="moke121" class="area"></div><!--[/diy]-->
        </div>
     </div>
     <div class="moke8_boxr">
        <h2 class="moke8_title">妈妈宝宝</h2>
        <!--[diy=moke22]--><div id="moke22" class="area"></div><!--[/diy]-->
     </div>
</div>

<div class="cl wp mt8 moke8_photo">
     <h2 class="moke8_title"><strong>精彩图片</strong><span class="more"><a href="#" target="_blank">更多</a></span></h2>
     <!--[diy=moke23]--><div id="moke23" class="area"></div><!--[/diy]-->
</div>

<div class="cl wp mt8 moke8_link mb8">
     <h2 class="moke8_title"><strong>友情链接</strong><span class="more"><a href="#" target="_blank">更多</a></span></h2>
     <!--[diy=moke24]--><div id="moke24" class="area"></div><!--[/diy]-->
</div>

<div class="wp">
	<!--[diy=diy100]--><div id="diy100" class="area"></div><!--[/diy]-->
</div>

<!--{subtemplate common/footer}-->
