/*
[name]回忆小时候[/name]

*/

body { background: #f1e5cb url(images/bg.jpg) no-repeat center 0; height:100%; margin:0 auto;}

#hd { background: url(images/header.jpg) no-repeat 0 0;color:#000000; height:300px;}
#hd h2 { color: #000000; }

#nv, #home { bottom::12px;}
#nv li a, #nv li a:visited { color: #000000; }
#nv li a:hover { background-image: none !important; }
#ct, .n, .w { background:url(images/ct.gif) repeat-x 0 0 !important; }
.block .title {background:url(images/title.gif) repeat-x; height:25px; border:solid 1px #cecece; }

#ft { background: url(images/footer.png) no-repeat 50% 0; }