/*
[name]庭院[/name]
Powered by Ucenter Home
*/

body { background: #000 url(images/bg.png) repeat-x 0 30px; }

#ct { color:#663300; }
#ct a { color: #8DBE00; }

#hd {width: 950px; height: 240px; background: url(images/header.png) no-repeat 50% 100%; }
	#hd h2 { color: #FFF; }
#nv { bottom: auto; left: auto; top: 200px; right: 0; }
	#nv li { padding: 0 13px; background-color:#666600; }

#ct, .n, .w { background: transparent none !important; }

.block .title { padding-top: 0 10px; border-bottom: none; background: #301E10; }
	.block .title, .block .title a { color:#CC3300; }

.bbda { border-bottom-color: #301E10; }
