/*
[name] 吸引你[/name]
Powered by Discuz! X2
*/


/*------------------------------------------------------------------请对以下的参数做相应的修改-----------------------------------------------*/

/********页面文字基本颜色***/
#ct { color: #857d70; }
/********带链接的文字的颜色***/
#ct a { color: #aa774d; }
/********页面背景颜色，注意：background-image的参数千万不要修改***/
body { background-color:#ffffff; background-image:none;}
/********页面顶部大图片***/
#myspace{ background: url(images/header.jpg) no-repeat center top; }
/********若存在嵌套的gif动画图片，请在下面设置，否则请删除下面这一行的代码***/
#dingbu { background: url(images/headeranim.gif) no-repeat center 0;}
/********顶部大背景的高度***/
.fytitle{border-bottom:0px; padding-top:280px;}
/********首页各版块的标题样式、标题颜色、版块的背景颜色和边框颜色***/
.block .title { padding: 0 10px; border-bottom: none; background:url(images/bg_title.gif) repeat-x; }
	.block .title, .block .title a { color: #aa774d; }
.block{border:1px solid #c1c1c1; background:#ffffff;}
/********其他页面版块的边框颜色和背景颜色、标题样式***/
.bm {border:1px solid #c1c1c1; background:#ffffff;}
	.bm_h { border: none; background:url(images/bg_title.gif) repeat-x; }
/********头部标题的颜色***/
.mingzi{color:#aa774d;}
/********头部状态的颜色***/
.notes2{color:#aa774d;}
/********导航栏上面的“复制地址”和“发给好友”样式***/
.dizhi {background-color:#ffffff;}
.dizhi a{color:#857d85;}
/********“所有状态”四个字的颜色***/
.topmood a{color:#aa774d;}
/********页面底部分割线的颜色***/
.zuixiamian{border-top:1px solid #c1c1c1;}
/********页面底部文字的颜色***/
.zuixiamian,.zuixiamian *{color:#aa774d;}
/********页面底部背景图片***/
.zuidibu{background:url(images/footer.jpg) no-repeat top center;}
/********以下是顶部导航菜单的样式，请对应修改相应的颜色***/
.tabs_header { border-bottom:1px solid #c1c1c1;}
.tabs_header li {color:#aa774d}
.tabs_header li a {border:1px solid #c1c1c1; background-color:#dedede; color:#aa774d; }
.tabs_header li a:hover { border-bottom:none; background-color:#dedede/***鼠标滑过*/;  }
.tabs_header li.active a {border:1px solid #c1c1c1; border-bottom:1px solid #c1c1c1; background:#ffffff;}
.tabs_header li.active a:link, .tabs_header li.active a:visited { color:#857d70;}
.tabs_header li.active a:hover { border-bottom:1px solid #dedede; background:#dedede;}
.tabs_header li.null a {background: #dedede; border:1px solid #dedede; border-left:1px solid #dedede; border-top:1px solid #dedede; }
.tabs_header li.null a:link, .tabs_header li.null a:visited { color:#aa774d;}
.tabs_header li.null a:hover { border:1px solid #dedede; background:#dedede;}



/*------------------------------------------------------------------以下是基本样式，请不要修改-----------------------------------------------*/

#nv { bottom: auto; left: auto; top: 45px; right: 0; }
#nv li { padding: 0px 2px; }
#nv li a, #nv li a:visited { padding: 0px 10px; color: #333; }
#nv li a:hover { background-image: none !important; }
#ct, .n, .w { background: transparent none !important; }
.bbda, .el li { border-bottom-color: #301E10; }
.vw .ph, .vw .d{ color: #FFF; }
.tl .th { background: none; }
#doingform { background: none; }