<!--{subtemplate common/header}-->
<!--{subtemplate pdnovel/search_pub}-->

<style id="diy_style" type="text/css"></style>
<div class="wp">
<!--[diy=diy1]--><div id="diy1" class="area"></div><!--[/diy]-->
</div>

<link rel="stylesheet" type="text/css" href="template/default/pdnovel/css/view.css" />
<script src="template/default/pdnovel/js/cat_top.js" type="text/javascript"></script>

<div id="pdmodule">
	<!--{ad/pdnovel/mb hm/1}-->
	<div class="pdbox">
		<div class="pdmaincont">
			<!--{ad/pdnovel/mb hm/4}-->
			<div class="catmainxstj">
				<div class="eyebox"><!--[diy=diypdeyebox]--><div id="diypdeyebox" class="area"></div><!--[/diy]--></div>			
				<div class="txtbox">
					<div class="title">
						<div class="left"><b>{$catname}小说频道</b></div>
						<div class="right"><a href="member.php?mod=register" target="_blank">[注册会员]</a></div>
					</div>
					<div class="list"><!--[diy=diytxtbox1]--><div id="diytxtbox1" class="area"></div><!--[/diy]--></div>
					<div class="title"><b>{$catname}小说新书推荐</b></div>
					<div class="list"><!--[diy=diytxtbox2]--><div id="diytxtbox2" class="area"></div><!--[/diy]--></div>
				</div>
			</div>
			<!--{ad/pdnovel/mb hm/5}-->
			<!--[diy=diypdmain]--><div id="diypdmain" class="area"></div><!--[/diy]-->
			<!--{ad/pdnovel/mb hm/6}-->
		</div>
		<div class="pdsidecont">
			<!--{ad/pdnovel/mb hm/7}-->
			<!--[diy=diypdside]--><div id="diypdside" class="area"></div><!--[/diy]-->
			<!--{ad/pdnovel/mb hm/8}-->
		</div>
	</div>
	<!--{ad/pdnovel/mb hm/2}-->
	<div class="pdbox" style="margin-top:0">
		<!--[diy=diypdall]--><div id="diypdall" class="area"></div><!--[/diy]-->
	</div>
	<!--{ad/pdnovel/mb hm/3}-->
</div>
<div class="wp">
<!--[diy=diy2]--><div id="di2" class="area"></div><!--[/diy]-->
</div>
<!--{subtemplate common/footer}-->