<!--{template common/header}-->
<!--{subtemplate pdnovel/search_pub}-->

<style id="diy_style" type="text/css"></style>
<div class="wp">
	<!--[diy=diy1]--><div id="diy1" class="area"></div><!--[/diy]-->
</div>

<style type="text/css">
.tl {background:#F8F8F8; border:1px solid #DDD; padding:30px; margin-top:20px; text-align:center; font-size:18px; font-weight:700;}
.tl a {color:#004D00}
.tl a.gray {color:#444}
.tl table {table-layout:fixed;width:100%; margin-top:10px; }
.tl .tbody2 {height:28px; line-height:28px; padding-left:10px;}
.tl .tbody1 {height:28px; line-height:28px; padding-left:10px; background-color:#f2f2f2}
.tl .thead {height:32px; line-height:32px;background:none repeat scroll 0 0 #F2F2F2;border-bottom:1px solid #DDD;border-top:1px solid #DDD;}
</style>
<div id="ct" class="ct2_a wp cl">
	<div class="mn">
		<!--[diy=diycontenttop]--><div id="diycontenttop" class="area"></div><!--[/diy]-->
		<div class="bm bw0">
			<h1 class="mt"><img alt="favorite" src="template/default/pdnovel/img/home_topic.gif" class="vm" /> 我的专题</h1>
			<ul class="tb cl">
				<li class="a"><a href="home.php?mod=space&uid=$space[uid]&do=favorite&view=me&type=all">全部专题</a></li>
			</ul>
            <div class="tl">
				专题功能暂未开放，敬请期待！
			</div>
			<!--{if $multi}--><div class="pgs cl mtm">$multi</div><!--{/if}-->
		</div>
		<!--[diy=diycontentbottom]--><div id="diycontentbottom" class="area"></div><!--[/diy]-->
	</div>

	<div class="appl">
		<!--{subtemplate pdnovel/home_user}-->

		<div class="drag">
			<!--[diy=diy2]--><div id="diy2" class="area"></div><!--[/diy]-->
		</div>

	</div>
</div>

<div class="wp mtn">
	<!--[diy=diy3]--><div id="diy3" class="area"></div><!--[/diy]-->
</div>
<script>
function checkAll(type, form, value, checkall, changestyle) {
	var checkall = checkall ? checkall : 'chkall';
	for(var i = 0; i < form.elements.length; i++) {
		var e = form.elements[i];
		if(type == 'option' && e.type == 'radio' && e.value == value && e.disabled != true) {
			e.checked = true;
		} else if(type == 'value' && e.type == 'checkbox' && e.getAttribute('chkvalue') == value) {
			e.checked = form.elements[checkall].checked;
			if(changestyle) {
				multiupdate(e);
			}
		} else if(type == 'prefix' && e.name && e.name != checkall && (!value || (value && e.name.match(value)))) {
			e.checked = form.elements[checkall].checked;
			if(changestyle && e.parentNode && e.parentNode.tagName.toLowerCase() == 'li') {
				e.parentNode.className = e.checked ? 'checked' : '';
			}
		}
	}
}
</script>
<!--{template common/footer}-->