<!--{template common/header}-->

<div>
	<h3 class="flb">
		<em id="return_upload">{lang upload}</em>
		<span><a href="javascript:;" class="flbc" onclick="hideWindow('upload')" title="{lang close}">{lang close}</a></span>
	</h3>

	<form id="uploadform" method="post" autocomplete="off" target="uploadattachframe" onsubmit="uploadWindowstart()" action="novel.php?mod=misc&ac=upload&inajax=yes&infloat=yes" enctype="multipart/form-data">
		<div class="c">
			<input type="hidden" name="handlekey" value="upload" />
			<input type="hidden" name="uid" value="$_G['uid']">
			<input type="hidden" name="hash" value="{echo md5(substr(md5($_G['config']['security']['authkey']), 8).$_G['uid'])}">
			<input type="file" name="file" size="30" class="filedata" />
			<p class="mtn" id="uploadwindowing" style="visibility:hidden"><img src="{IMGDIR}/uploading.gif" /></p>
			{lang upload_allow}<strong>$imgexts</strong>
		</div>
		<p class="o pns">
			<button type="submit" name="uploadsubmit" id="uploadsubmit" class="pn pnc" tabindex="1" value="true"><span>{lang upload}</span></button>
		</p>
	</form>
	<iframe name="uploadattachframe" id="uploadattachframe" style="display: none;" onload="uploadWindowload();"></iframe>
</div>

<!--{template common/footer}-->