/*
[name]綠牆[/name]
Powered by Discuz! X
*/

body { background: #D5B48A url(images/bg.png) repeat-x 0 30px; }

#hd { background: none; }
#hd h2 { padding-top: 33px; color: #FFF; }

#nv { bottom: auto; left: auto; top: 45px; right: 0; }
	#nv li { padding: 0 2px; background: transparent; opacity: 1; filter: alpha(opacity=100); }
		#nv a, #nv a:visited { padding: 0px 4px; }

#ct, .n, .w { background: #FFF url(images/ct-top.png) no-repeat 0 0 !important; }

#ft { background: url(images/footer.png) no-repeat 50% 100%; }
.tl .th { background: none; }
.bm, .bm_h { border: none; }