<!--{subtemplate common/header}-->
<div id="pt" class="bm cl">
	<div class="z">
		<a href="./" class="nvhm" title="{lang homepage}">$_G[setting][bbname]</a> <em>&rsaquo;</em>
		<a href="$_G[setting][navs][2][filename]">$_G[setting][navs][2][navname]</a> <em>&rsaquo;</em>
		{lang collection}
	</div>
</div>

<div id="ct" class="wp cl">
	<div class="bm">
		<div class="tb tb_h cl">
			<!--{subtemplate forum/collection_nav}-->
		</div>
		<div class="tbmu">
			<div class="y">
				<form action="forum.php?mod=collection&amp;op=search" method="post">
					<input type="text" name="kw" class="px vm" />
					<button type="submit" value="submit" class="pn vm"><span>{lang search}</span></button>
				</form>
			</div>
			<!--{if $op != 'search'}-->
				<a href="forum.php?mod=collection&amp;op=all">{lang collection_sortby_update}</a>
				<span class="pipe">|</span>
				<a href="forum.php?mod=collection&amp;op=all&amp;order=threadnum">{lang collection_sortby_threadnum}</a>
				<span class="pipe">|</span>
				<a href="forum.php?mod=collection&amp;op=all&amp;order=commentnum">{lang collection_sortby_coomentnum}</a>
				<span class="pipe">|</span>
				<a href="forum.php?mod=collection&amp;op=all&amp;order=follownum">{lang collection_sortby_follownum}</a>
			<!--{else}-->
				{lang search}
			<!--{/if}-->
		</div>
		<div class="bm_c">
			<!--{hook/collection_index_top}-->
			<!--{if count($collectiondata) > 0}-->
			<div class="clct_list cl">
				<!--{loop $collectiondata $collectionvalues}-->
				<div class="xld xlda cl">
					<dl>
						<dd class="m hm">
							<strong class="xi2" {if {$collectionvalues['follownum']} > 999999}style="font-size: 10px;"{/if}>{$collectionvalues['follownum']}</strong>
							<span style="color: #FFF">{lang collection_follow}</span>
						</dd>
						<dt class="xw1"><a href="forum.php?mod=collection&action=view&ctid={$collectionvalues['ctid']}&fromop={$op}" class="xi2">{$collectionvalues['name']}</a></dt>
						<dd>
							<p>{lang collection_threadnum} {$collectionvalues['threadnum']}, {lang collection_commentnum} {$collectionvalues['commentnum']}</p>
							<p class="xg1"><a href="home.php?mod=space&uid=$collectionvalues['uid']">{$collectionvalues['username']}</a> {lang collection_createtime} {$collectionvalues['dateline']}, {lang collection_lastupdate} {$collectionvalues['lastupdate']}</p>
							<p>
								<!--{if $collectionvalues['lastpost']}-->
								{lang collection_lastthread} <a href="forum.php?mod=viewthread&tid={$collectionvalues['lastpost']}" class="xi2">{$collectionvalues['lastsubject']}</a>
								<!--{/if}-->
								<!---<span class="clct_ratestar"><span class="star star$collectionvalues['star']">&nbsp;</span></span>-->
							</p>
						</dd>
					</dl>
				</div>
				<!--{/loop}-->
			</div>
			<!--{else}-->
				<div class="emp">{lang collection_nocollection}</div>
			<!--{/if}-->
			<!--{hook/collection_index_bottom}-->
		</div>
	</div>
	$multipage
	<br /><br />
</div>
<!--{subtemplate common/footer}-->