<!--{block creditstring}--><!--{loop $postattachcredits $id $credit}--><!--{if $credit != ''}-->{$_G['setting']['extcredits'][$id][title]} <!--{if $credit >= 0}-->+$credit<!--{else}-->$credit<!--{/if}--> {$_G['setting']['extcredits'][$id][unit]} &nbsp;<!--{/if}--><!--{/loop}--><!--{/block}-->
<div class="p_pof" id="{$editorid}_image_menu" style="display: none" unselectable="on">
	<span class="y"><a href="javascript:;" class="flbc" onclick="hideMenu()">{lang close}</a></span>
	<ul class="imguptype" id="{$editorid}_image_ctrl">
		<li><a href="javascript:;" hidefocus="true" class="current" id="{$editorid}_btn_www" onclick="switchImagebutton('www');">{lang e_img_www}</a></li>
		<li><a href="javascript:;" hidefocus="true" id="{$editorid}_btn_albumlist" onclick="switchImagebutton('albumlist');">{lang e_img_albumlist}</a></li>
		<!--{if $allowpostimg}-->
			<li><a href="javascript:;" hidefocus="true" id="{$editorid}_btn_imgattachlist" onclick="switchImagebutton('imgattachlist');">{lang e_img_attach}</a></li>
			<!--{if $_G['setting']['swfupload'] != 1 && $allowuploadnum}--><li><a href="javascript:;" hidefocus="true" id="{$editorid}_btn_local" onclick="switchImagebutton('local');">{lang normal_upload}</a></li><!--{/if}-->
			<!--{if $_G['setting']['swfupload'] != 0 && $allowuploadnum}--><li><a href="javascript:;" hidefocus="true" id="{$editorid}_btn_multi" onclick="switchImagebutton('multi');">{lang batch_upload}</a></li><!--{/if}-->
		<!--{/if}-->
	</ul>
	<div class="p_opt popupfix" unselectable="on" id="{$editorid}_www">
		<table cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<th width="74%">{lang e_img_inserturl}</th>
				<th width="13%">{lang e_img_width}</th>
				<th width="13%">{lang e_img_height}</th>
			</tr>
			<tr>
				<td><input type="text" id="{$editorid}_image_param_1" onchange="loadimgsize(this.value)" style="width: 95%;" value="" class="px" autocomplete="off" /></td>
				<td><input id="{$editorid}_image_param_2" size="1" value="" class="px p_fre" autocomplete="off" /></td>
				<td><input id="{$editorid}_image_param_3" size="1" value="" class="px p_fre" autocomplete="off" /></td>
			</tr>
			<tr>
				<td colspan="3" class="pns mtn">
					<button type="button" class="pn pnc" id="{$editorid}_image_submit"><strong>{lang submit}</strong></button>
					<button type="button" class="pn" onclick="hideMenu();"><em>{lang cancel}</em></button>
				</td>
			</tr>
		</table>
	</div>
	<!--{if $allowpostimg}-->
		<!--{if $_G['setting']['swfupload'] != 1}-->
			<div class="p_opt" unselectable="on" id="{$editorid}_local" style="display: none;">
				<table cellpadding="0" cellspacing="0" border="0" width="100%">
					<tbody id="imgattachbodyhidden" style="display:none"><tr>
						<td class="atnu"><span id="imglocalno[]"><img src="{STATICURL}image/filetype/common_new.gif" /></span></td>
						<td class="atna">
							<span id="imgdeschidden[]" style="display:none">
								<span id="imglocalfile[]"></span>
							</span>
							<input type="hidden" name="imglocalid[]" />
						</td>
						<td class="attc"><span id="imgcpdel[]"></span></td>
					</tr></tbody>
				</table>
				<div class="p_tbl"><table cellpadding="0" cellspacing="0" summary="post_attachbody" border="0" width="100%"><tbody id="imgattachbody"></tbody></table></div>
				<div class="upbk">
					<div id="imgattachbtnhidden" style="display:none"><span><form name="imgattachform" id="imgattachform" method="post" autocomplete="off" action="misc.php?mod=swfupload&operation=upload&simple=1&type=image" target="attachframe" $enctype><input type="hidden" name="uid" value="$_G['uid']"><input type="hidden" name="hash" value="{echo md5(substr(md5($_G['config']['security']['authkey']), 8).$_G['uid'])}"><input type="file" name="Filedata" size="45" class="filedata" /></form></span></div>
					<div id="imgattachbtn"></div>
					<p id="imguploadbtn">
						<button class="pn" type="button" onclick="hideMenu();"><span>{lang cancel}</span></button>
						<button class="pn pnc" type="button" onclick="uploadAttach(0, 0, 'img')"><span>{lang upload}</span></button>
					</p>
					<p id="imguploading" style="display: none;"><img src="{IMGDIR}/uploading.gif" style="vertical-align: middle;" /> {lang uploading}</p>
				</div>
				<div class="notice upnf">
					{lang attachment_size}: <strong><!--{if $_G['group']['maxattachsize']}-->{lang lower_than} $maxattachsize_mb <!--{else}-->{lang size_no_limit}<!--{/if}--></strong>&nbsp;
					<!--{if $_G['group']['maxattachnum'] || $_G['group']['maxsizeperday']}-->
						{lang attachment_limit}: <!--{if $_G['group']['maxattachnum']}--><strong>$allowuploadnum</strong> {lang attachment_unit}&nbsp;<!--{/if}--><!--{if $_G['group']['maxsizeperday']}--><strong>$allowuploadsize</strong>&nbsp;<!--{/if}-->
					<!--{/if}-->
					<!--{if $imgexts}-->
						<br />{lang attachment_allow_exts}: <strong>$imgexts</strong>&nbsp;
					<!--{/if}-->
					<!--{if $creditstring}-->
						<br /><a href="forum.php?mod=faq&action=credits&fid=$_G[fid]" target="_blank" title="{lang credits_policy}">{lang post_credits_postattach}&nbsp;$creditstring</a>
					<!--{/if}-->
				</div>
			</div>
		<!--{/if}-->
		<!--{if $_G['setting']['swfupload'] != 0}-->
			<div class="p_opt" unselectable="on" id="{$editorid}_multi" style="display: none;">
				<div class="fswf" id="{$editorid}_multiimg">
					<script type="text/javascript">
						$('{$editorid}_multiimg').innerHTML = AC_FL_RunContent(
							'width', '470', 'height', '268',
							'src', '{IMGDIR}/upload.swf?site={$_G[siteroot]}misc.php%3fmod=swfupload%26type=image%26fid=$_G[fid]&type=image&random=<!--{echo random(4)}-->',
							'quality', 'high',
							'id', 'swfupload',
							'menu', 'false',
							'allowScriptAccess', 'always',
							'wmode', 'transparent'
						);
					</script>
				</div>
				<div class="notice uploadinfo">
					{lang attachment_size}: <strong><!--{if $_G['group']['maxattachsize']}-->{lang lower_than} $maxattachsize_mb <!--{else}-->{lang size_no_limit}<!--{/if}--></strong>&nbsp;
					<!--{if $_G['group']['maxattachnum'] || $_G['group']['maxsizeperday']}-->
						{lang attachment_limit}: <!--{if $_G['group']['maxattachnum']}--><strong>$allowuploadnum</strong> {lang attachment_unit}&nbsp;<!--{/if}--><!--{if $_G['group']['maxsizeperday']}--><strong>$allowuploadsize</strong>&nbsp;<!--{/if}-->
					<!--{/if}-->
					<!--{if $imgexts}-->
						<br />{lang attachment_allow_exts}: <strong>$imgexts</strong>&nbsp;
					<!--{/if}-->
					<!--{if $creditstring}-->
						<br /><a href="forum.php?mod=faq&action=credits&fid=$_G[fid]" target="_blank" title="{lang credits_policy}">{lang post_credits_postattach}&nbsp;$creditstring</a>
					<!--{/if}-->
				</div>
			</div>
		<!--{/if}-->
		<div class="p_opt" unselectable="on" id="{$editorid}_imgattachlist" style="display: none;">
			<div class="upfilelist">
				<!--{if !empty($imgattachs['used'])}--><!--{eval $imagelist = $imgattachs['used'];}-->
					<!--{template forum/ajax_imagelist}-->
				<!--{/if}-->
				<div id="imgattachlist">
					<!--{if empty($imgattachs['used']) && empty($imgattachs['unused'])}-->
						<p class="notice">{lang no_attachimg}<!--{if $allowuploadnum}-->, <a href="javascript:;" onclick="switchImagebutton('{if $_G['setting']['swfupload'] != 0}multi{else}local{/if}');">{lang click_here}</a>{lang attachment_new}<!--{/if}--></p>
					<!--{/if}-->
				</div>
				<div id="unusedimgattachlist">
					<!--{if !empty($imgattachs['unused'])}-->
						<!--{eval $imagelist = $imgattachs['unused'];}-->
						<p>{lang attachment_uploaded}<p>
						<!--{template forum/ajax_imagelist}-->
					<!--{/if}-->
				</div>
			</div>
			<p class="notice" id="imgattach_notice"{if empty($imgattachs['used']) && empty($imgattachs['unused'])} style="display: none"{/if}>
            	<span class="xi1 xw1">{lang e_img_insertphoto}</span>
				<!--{if $_G['group']['allowupload']}-->
					<br />{lang save_selected_pic}:
					<select name="uploadalbum" onclick="if(!this.value) {$('newalbum').style.display = ''} else {$('newalbum').style.display = 'none'}">
						<!--{loop $albumlist $album}-->
							<option value="$album[albumid]">$album[albumname]</option>
						<!--{/loop}-->
						<option value="">+{lang create_new_album}</option>
					</select>
					<br /><input type="text" name="newalbum" id="newalbum" class="px mtn" size="35" value="" style="display:none" />
				<!--{/if}-->
			</p>
		</div>
	<!--{/if}-->
	<div class="p_opt" unselectable="on" id="{$editorid}_albumlist" style="display: none;">
		<div class="upfilelist">
			{lang uch_selectfromalbum}:
			<select onchange="if(this.value) {ajaxget('forum.php?mod=post&action=albumphoto&aid='+this.value, 'albumphoto');}">
				<option value="">{lang select_album}</option>
				<!--{loop $albumlist $album}-->
					<option value="$album[albumid]">$album[albumname]</option>
				<!--{/loop}-->
			</select>
			<div id="albumphoto"></div>
		</div>
		<p class="notice xi1 xw1">{lang e_img_insertphoto}</p>
	</div>
	<iframe name="attachframe" id="attachframe" style="display: none;" onload="uploadNextAttach();"></iframe>
</div>

<!--{if $_G['group']['allowpostattach']}-->
	<div class="p_pof upf" id="{$editorid}_attach_menu" style="display: none" unselectable="on">
		<span class="y"><a href="javascript:;" class="flbc" onclick="hideMenu()">{lang close}</a></span>
		<ul class="imguptype" id="{$editorid}_attach_ctrl">
			<li><a href="javascript:;" hidefocus="true" class="current" id="{$editorid}_btn_attachlist" onclick="switchAttachbutton('attachlist');">{lang attachment_list}</a></li>
			<!--{if $_G['setting']['swfupload'] != 1 && $allowuploadnum}--><li><a href="javascript:;" hidefocus="true" id="{$editorid}_btn_upload" onclick="switchAttachbutton('upload');">{lang common_upload}</a></li><!--{/if}-->
			<!--{if $_G['setting']['swfupload'] != 0 && $allowuploadnum}--><li><a href="javascript:;" hidefocus="true" id="{$editorid}_btn_swfupload" onclick="switchAttachbutton('swfupload');">{lang batch_upload}</a></li><!--{/if}-->
		</ul>
		<!--{if $_G['setting']['swfupload'] != 1}-->
			<div class="p_opt" unselectable="on" id="{$editorid}_upload" style="display: none;">
				<table cellpadding="0" cellspacing="0" border="0" width="100%">
					<tbody id="attachbodyhidden" style="display:none"><tr>
						<td class="atnu"><span id="localno[]"><img src="{STATICURL}image/filetype/common_new.gif" /></span></td>
						<td class="atna">
							<span id="deschidden[]" style="display:none">
								<span id="localfile[]"></span>
							</span>
							<input type="hidden" name="localid[]" />
						</td>
						<td class="attc"><span id="cpdel[]"></span></td>
					</tr></tbody>
				</table>
				<div class="p_tbl"><table cellpadding="0" cellspacing="0" summary="post_attachbody" border="0" width="100%"><tbody id="attachbody"></tbody></table></div>
				<div class="upbk">
					<div id="attachbtnhidden" style="display:none"><span><form name="attachform" id="attachform" method="post" autocomplete="off" action="misc.php?mod=swfupload&operation=upload&simple=1" target="attachframe" $enctype><input type="hidden" name="uid" value="$_G['uid']"><input type="hidden" name="hash" value="{echo md5(substr(md5($_G['config']['security']['authkey']), 8).$_G['uid'])}"><input type="file" name="Filedata" size="45" class="fldt" /></form></span></div>
					<div id="attachbtn"></div>
					<p id="uploadbtn">
						<button type="button" class="pn" onclick="hideMenu();"><span>{lang cancel}</span></button>
						<button type="button" class="pn pnc" onclick="uploadAttach(0, 0)"><span>{lang upload}</span></button>
					</p>
					<p id="uploading" style="display: none;"><img src="{IMGDIR}/uploading.gif" style="vertical-align: middle;" /> {lang uploading}</p>
				</div>
				<div class="notice upnf">
					{lang attachment_size}: <strong><!--{if $_G['group']['maxattachsize']}-->{lang lower_than} $maxattachsize_mb <!--{else}-->{lang size_no_limit}<!--{/if}--></strong>&nbsp;
					<!--{if $_G['group']['maxattachnum'] || $_G['group']['maxsizeperday']}-->
						{lang attachment_limit}: <!--{if $_G['group']['maxattachnum']}--><strong>$allowuploadnum</strong> {lang attachment_unit}&nbsp;<!--{/if}--><!--{if $_G['group']['maxsizeperday']}--><strong>$allowuploadsize</strong>&nbsp;<!--{/if}-->
					<!--{/if}-->
					<!--{if $_G['group']['attachextensions']}-->
						<br />{lang attachment_allow_exts}: <strong>{$_G['group']['attachextensions']}</strong>&nbsp;
					<!--{/if}-->
					<!--{if $creditstring}-->
						<br /><a href="forum.php?mod=faq&action=credits&fid=$_G[fid]" target="_blank" title="{lang credits_policy}">{lang post_credits_postattach}&nbsp;$creditstring</a>
					<!--{/if}-->
				</div>
			</div>
		<!--{/if}-->
		<!--{if $_G['setting']['swfupload'] != 0}-->
			<div class="p_opt" unselectable="on" id="{$editorid}_swfupload" style="display: none;">
				<div class="floatboxswf" id="{$editorid}_multiattach">
					<script type="text/javascript">
						$('{$editorid}_multiattach').innerHTML = AC_FL_RunContent(
							'width', '470', 'height', '268',
							'src', '{IMGDIR}/upload.swf?site={$_G[siteroot]}misc.php%3fmod=swfupload%26fid=$_G[fid]&random=<!--{echo random(4)}-->',
							'quality', 'high',
							'id', 'swfupload',
							'menu', 'false',
							'allowScriptAccess', 'always',
							'wmode', 'transparent'
						);
					</script>
				</div>
				<div class="notice uploadinfo">
					{lang attachment_size}: <strong><!--{if $_G['group']['maxattachsize']}-->{lang lower_than} $maxattachsize_mb <!--{else}-->{lang size_no_limit}<!--{/if}--></strong>&nbsp;
					<!--{if $_G['group']['maxattachnum'] || $_G['group']['maxsizeperday']}-->
						{lang attachment_limit}: <!--{if $_G['group']['maxattachnum']}--><strong>$allowuploadnum</strong> {lang attachment_unit}&nbsp;<!--{/if}--><!--{if $_G['group']['maxsizeperday']}--><strong>$allowuploadsize</strong>&nbsp;<!--{/if}-->
					<!--{/if}-->
					<!--{if $_G['group']['attachextensions']}-->
						<br />{lang attachment_allow_exts}: <strong>{$_G['group']['attachextensions']}</strong>&nbsp;
					<!--{/if}-->
					<!--{if $creditstring}-->
						<br /><a href="forum.php?mod=faq&action=credits&fid=$_G[fid]" target="_blank" title="{lang credits_policy}">{lang post_credits_postattach}&nbsp;$creditstring</a>
					<!--{/if}-->
				</div>
			</div>
		<!--{/if}-->
		<div class="p_opt post_tablelist" unselectable="on" id="{$editorid}_attachlist">
			<table cellpadding="0" cellspacing="0" border="0" width="100%" id="attach_tblheader"{if empty($attachs['used']) && empty($attachs['unused'])} style="display: none"{/if}>
				<tr>
					<td class="atnu"></td>
					<td class="atna">{lang filename}</td>
					<td class="atds">{lang description}</td>
					<!--{if $_G['group']['allowsetattachperm']}-->
					<td class="attv">
						{lang readperm}
						<img src="{IMGDIR}/faq.gif" alt="Tip" class="vm" style="margin: 0;" onmouseover="showTip(this)" tip="{lang post_select_usergroup_readacces}" />
					</td>
					<!--{/if}-->
					<!--{if $_G['group']['maxprice']}--><td class="attp">{$_G['setting']['extcredits'][$_G['setting']['creditstransextra'][1]][title]}</td><!--{/if}-->
					<td class="attc"></td>
				</tr>
			</table>
			<div class="upfl">
				<!--{if !empty($attachs['used'])}--><!--{eval $attachlist = $attachs['used'];}-->
					<!--{template forum/ajax_attachlist}-->
				<!--{/if}-->
				<div id="attachlist">
					<!--{if empty($attachs['used']) && empty($attachs['unused'])}-->
						<p class="notice">{lang no_attach}<!--{if $allowuploadnum}-->, <a href="javascript:;" onclick="switchAttachbutton('{if $_G['setting']['swfupload'] != 0}swfupload{else}upload{/if}');">{lang click_here}</a>{lang attachment_new}<!--{/if}--></p>
					<!--{/if}-->
				</div>
				<div id="unusedattachlist">
					<!--{if !empty($attachs['unused'])}-->
						<!--{eval $attachlist = $attachs['unused'];}-->
						<table cellpadding="0" cellspacing="0" width="100%"><tr><td class="attachnum"></td><td>{lang attachment_uploaded}</td></tr></table>
						<!--{template forum/ajax_attachlist}-->
					<!--{/if}-->
				</div>
			</div>
			<p class="ptm" id="attach_notice"{if empty($attachs['used']) && empty($attachs['unused'])} style="display: none"{/if}>{lang e_attach_insert}<!--{if $_G['setting']['allowattachurl']}-->{lang e_attach_inserturl}<!--{/if}--></p>
			<!--{if $_G['group']['maxprice'] && $_G['setting']['maxincperthread']}--><p class="notice">{lang post_price_attachincome_comment}</p><!--{/if}-->
		</div>
	</div>
<!--{/if}-->

<script type="text/javascript">
	if(wysiwyg) {
		newEditor(1, bbcode2html(textobj.value));
	} else {
		newEditor(0, textobj.value);
	}

	var ATTACHNUM = {'imageused':0,'imageunused':0,'attachused':0,'attachunused':0};
	function switchImagebutton(btn) {
		var btns = ['www'<!--{if $allowpostimg}-->, 'imgattachlist'<!--{/if}-->, 'albumlist'];
		<!--{if $allowpostimg}-->
			<!--{if $_G['setting']['swfupload'] != 1}-->btns.push('local');<!--{/if}-->
			<!--{if $_G['setting']['swfupload'] != 0}-->btns.push('multi');<!--{/if}-->
		<!--{/if}-->
		switchButton(btn, btns);
		$(editorid + '_image_menu').style.height = '';
	}
	<!--{if $allowpostimg}-->
		ATTACHNUM['imageused'] = <!--{echo @count($imgattachs['used'])}-->;
		ATTACHNUM['imageunused'] = <!--{echo @count($imgattachs['unused'])}-->;
		<!--{if !empty($imgattachs['used']) || !empty($imgattachs['unused'])}-->
			switchImagebutton('imgattachlist');
			$(editorid + '_image').evt = false;
			updateattachnum('image');
		<!--{else}-->
			switchImagebutton('<!--{if $_G['setting']['swfupload'] != 0}-->multi<!--{else}-->local<!--{/if}-->');
		<!--{/if}-->
	<!--{/if}-->
	<!--{if $_G['group']['allowpostattach'] || $_G['group']['allowpostimage']}-->
		function switchAttachbutton(btn) {
			var btns = ['attachlist'];
			<!--{if $_G['setting']['swfupload'] != 1}-->btns.push('upload');<!--{/if}-->
			<!--{if $_G['setting']['swfupload'] != 0}-->btns.push('swfupload');<!--{/if}-->
			switchButton(btn, btns);
		}
		ATTACHNUM['attachused'] = <!--{echo @count($attachs['used'])}-->;
		ATTACHNUM['attachunused'] = <!--{echo @count($attachs['unused'])}-->;
		<!--{if !empty($attachs['used']) || !empty($attachs['unused'])}-->
			$(editorid + '_attach').evt = false;
			updateattachnum('attach');
		<!--{else}-->
			switchAttachbutton('<!--{if $_G['setting']['swfupload'] != 0}-->swfupload<!--{else}-->upload<!--{/if}-->');
		<!--{/if}-->
	<!--{/if}-->
	<!--{if !empty($attachs['unused']) || !empty($imgattachs['unused'])}-->
		var msg = '<form id="unusedform"><div class="c ufl" style="{if count($attachs[unused]) + count($imgattachs[unused]) > 10}height:180px;{/if}overflow-y:auto;overflow-x:hidden"><p class="xg2">{lang attachment_uploaded}</p>'
		<!--{loop $attachs['unused'] $attach}-->
			+ '<p id="unusedrow$attach[aid]"><a href="javascript:;" class="d" onclick="unusedoption(2, $attach[aid])">{lang delete}</a><label><input id="unused$attach[aid]" name="unused[]" value="$attach[aid]" checked type="checkbox" class="pc" /> <span title="$attach[filenametitle] $attach[dateline]">$attach[filename]</span></label></p>'
		<!--{/loop}-->
		<!--{loop $imgattachs['unused'] $attach}-->
			+ '<p id="unusedrow$attach[aid]"><a href="javascript:;" class="d" onclick="unusedoption(3, $attach[aid])">{lang delete}</a><label><input id="unused$attach[aid]" name="unused[]" value="$attach[aid]" checked type="checkbox" class="pc" /> <span title="$attach[filenametitle] $attach[dateline]">$attach[filename]</span></label></p>'
		<!--{/loop}-->
		+ '</div><div class="o pns cl"><label class="z"><input type="checkbox" name="chkall" class="pc" checked="checked" onclick="checkall(this.form, \'unused\', \'chkall\')" /> {lang checkall}</label><button type="button" value="true" class="pn" onclick="unusedoption(0)"><span>{lang ignore}</span></button> <button type="button" value="true" class="pn pnc" onclick="unusedoption(1)"><span>{lang use}</span></button> </div></form>';
		showDialog(msg, 'info', '', '', 1);
	<!--{/if}-->
	setCaretAtEnd();
	if(BROWSER.ie >= 5 || BROWSER.firefox >= '2') {
		_attachEvent(window, 'beforeunload', saveData);
	}
	<!--{if !empty($_G['gp_cedit']) && $_G['gp_cedit'] == 'yes'}-->
		loadData(1);		
		$(editorid + '_switchercheck').checked = !wysiwyg;
	<!--{/if}-->
</script>