<script type="text/javascript">
var postminchars = parseInt('$_G['setting']['minpostsize']');
var postmaxchars = parseInt('$_G['setting']['maxpostsize']');
var disablepostctrl = parseInt('{$_G['group']['disablepostctrl']}');
</script>
<div id="f_pst" class="bm">
	<div class="bm_h">
		<h2>{lang quick_post}</h2>
	</div>
	<div class="bm_c">
		<form method="post" autocomplete="off" id="fastpostform" action="forum.php?mod=post&action=newthread&fid=$_G[fid]&topicsubmit=yes&infloat=yes&handlekey=fastnewpost" onSubmit="return fastpostvalidate(this)">
			<!--{hook/forumdisplay_fastpost_content}-->

			<div id="fastpostreturn" style="margin:-5px 0 5px"></div>

			<div class="pbt cl">
				<!--{if $_G['forum'][threadtypes][types]}-->
					<div class="ftid">
						<select name="typeid" id="typeid" width="80">
						<!--{if !$_G['forum']['threadtypes']['required']}--><option value="0">{lang types}</option><!--{/if}-->
						<!--{loop $_G['forum'][threadtypes][types] $typeid $name}-->
							<option value="$typeid"><!--{echo strip_tags($name);}--></option>
						<!--{/loop}-->
						</select>
					</div>
					<script type="text/javascript" reload="1">simulateSelect('typeid');</script>
				<!--{/if}-->
				<input type="text" id="subject" name="subject" class="px" value="" onkeyup="strLenCalc(this, 'checklen', 80);" tabindex="11" style="width: 25em" />
				<span>{lang comment_message1} <strong id="checklen">80</strong> {lang comment_message2}</span>
			</div>

			<div class="cl">
				<!--{if $_G[setting][fastsmilies]}--><div id="fastsmiliesdiv" class="y"><div id="fastsmiliesdiv_data"><div id="fastsmilies"></div></div></div><!--{/if}-->
				<div{if $_G[setting][fastsmilies]} class="hasfsl"{/if}>
					<div class="tedt">
						<div class="bar">
							<span class="y">
								<!--{hook/forumdisplay_fastpost_func_extra}-->
								<!--{if $_G['setting']['magicstatus'] && !empty($_G['setting']['magics']['doodle'])}-->
									<a id="a_magic_doodle" href="home.php?mod=magic&mid=doodle&showid=comment_doodle&target=fastpostmessage&from=fastpost" onclick="showWindow(this.id, this.href, 'get', 0)">$_G['setting']['magics']['doodle']</a>
									<span class="pipe">|</span>
								<!--{/if}-->
								<a href="forum.php?mod=post&action=newthread&fid=$_G[fid]" onclick="switchAdvanceMode(this.href);doane(event);">{lang post_advancemode}</a>
							</span>
							<!--{eval $seditor = array('fastpost', array('bold', 'color', 'img', 'link', 'quote', 'code', 'smilies'), $guestpost ? 1 : 0);}-->
							<!--{hook/forumdisplay_fastpost_ctrl_extra}-->
							<!--{subtemplate common/seditor}-->
						</div>
						<div class="area">
							<!--{if !$guestpost}-->
								<textarea rows="5" cols="80" name="message" id="fastpostmessage" onKeyDown="seditor_ctlent(event, '$(\'fastpostform\').submit()');" tabindex="12" class="pt"></textarea>
							<!--{else}-->
								<div class="pt hm">{lang login_to_post} <a href="member.php?mod=logging&action=login" onclick="showWindow('login', this.href)" class="xi2">{lang login}</a> | <a href="member.php?mod={$_G[setting][regname]}" onclick="showWindow('register', this.href)" class="xi2">$_G['setting']['reglinkname']</a></div>
							<!--{/if}-->
						</div>
					</div>
					<!--{if checkperm('seccode') && ($secqaacheck || $seccodecheck)}-->
						<!--{block sectpl}--><sec> <span id="sec<hash>" onclick="showMenu(this.id)"><sec></span><div id="sec<hash>_menu" class="p_pop p_opt" style="display:none"><sec></div><!--{/block}-->
						<div class="mtm"><!--{template common/seccheck}--></div>
					<!--{/if}-->
					<input type="hidden" name="formhash" value="{FORMHASH}" />
					<input type="hidden" name="usesig" value="$usesigcheck" />
					<p class="ptm">
						<button {if !$guestpost}type="submit" {else}type="button" onclick="showWindow('login', 'member.php?mod=logging&action=login&guestmessage=yes')" {/if}name="topicsubmit" id="fastpostsubmit" value="topicsubmit" tabindex="13" class="pn"><strong>{lang post_newthread}</strong></button>
					</p>
				</div>
			</div>
		</form>
	</div>
</div>