/* ----------------------------------
Self-adaption Width CSS file for Discuz! X
(C) Comsenz Inc.
http://www.comsenz.com
Created & Modified by Pony.
---------------------------------- */

.wp { width: 98%; }
	#hd .wp, #wp { min-width: 980px; }

.ct2 { margin-right: 235px; }
	.ct2 .sd { margin-right: -235px; }
		.ie7 .ct2 .sd { margin-left: 15px; }
		.ie6 .ct2 .sd { padding-left: 15px; position: relative; }
	.ct2 .mn { width: 100%; }

.ct2 #chart, .ct2 #an { margin-right: -235px; }
	.ie6 .ct2 #chart, .ie6 .ct2 #an { position: relative; }

.ct2_a { margin-left: 150px; background-image: none; }
	.ct2_a .appl { margin-left: -150px; {SIDEBGCODE}; }
		.ie6 .ct2_a .appl { position: relative; }
	.ct2_a .mn { width: 100%; }


.pg_post .ct2_a { margin-left: 0; margin-right: 150px; }
	.pg_post .ct2_a .appl { margin-left: 0; margin-right: -150px; background: none; }
.pg_modcp .ct2_a, .pg_announcement .ct2_a { border: none; }
	.pg_modcp .ct2_a .mn, .pg_announcement .ct2_a .mn { margin-right: 0; padding-top: 0; }