@charset "utf-8";
/**
 *      [品牌空间] (C)2001-2010 Comsenz Inc.
 *      This is NOT a freeware, use is subject to license terms
 *
 *      $Id: groupbuy.css 4333 2010-09-06 02:51:12Z yanghuan $
 */
#goodslist .everylist dl dt,#goodslist .everylist dl dd {
	width:auto;
}
#goodslist .everylist dl dt, #goodslist .everylist dl dd {
padding-top:6px;
}
#goodslist .everylist dl dd {
	width:560px;
}
#goodslist .name h5 {
display:block;
font-size:14px;
height:20px;
line-height:20px;
overflow:hidden;
width:380px;
}
#goodslist .name li {
display:inline;
height:auto;
line-height:19px;
}



