/*
[name]天空[/name]
Powered by Discuz! X
*/

/*網頁背景*/
body { background: #E6FDFE url(images/body_bg.png) repeat-x 0 25px; }

/*頁頭的背景*/
#hd { background: url(images/header.jpg) no-repeat 50% 100%; }

/*頁頭的導航連結*/
#nv li a, #nv li a:visited { color: #333; }
	#nv li a:hover { background-image: none !important; }

/*網頁主要區域的背景(可由此製造上方圓角的效果)*/
#ct, .n, .w { background: #FFF url(images/ct-top.png) no-repeat 0 0 !important; }

/*每個模塊的標題區背景*/
.block .title { background: transparent url(images/title.gif) no-repeat left center; }

/*頁腳的背景(可由此製造下方圓角的效果)*/
#ft { padding-top: 20px; background: url(images/ct-bottom.png) no-repeat 0 0; }

/*尚未分析*/
.tl .th { background: none; }
.bm, .bm_h { border: none; }
