
/** search **/
/* 搜尋 */

#tpsch{}

/** end **/

/** forum,group **/

	/* 版塊分區內的版塊標題 */
	.fl_tb h2 a, .fl_tb .fl_g dl dt a {
    	letter-spacing: 1px;
    	text-shadow: 2px 2px 4px #AAAAAA;
	}

	/* 廣場首頁版塊分區內的版塊標題 */
	.fl_tb h2 a {
		color: #FF3399;
	}

	.fl_tb p {
		margin-top: 1px;
		margin-bottom: 1px;
	}

	.fl_tb .fl_i .xi2 {
		color: #9933CC;
	}

	.fl_tb .fl_i .xg1 {
		color: #0099FF !important;
	}

	/* 最後發表者 */
	.fl_tb .fl_by div cite {
		font-size: 8px;
		text-transform: uppercase;
		font-family: '04b08',Arial,Tahoma,'細明體';

		font-weight: lighter;
	}

	.fl_tb .fl_by div cite a {
		color: #FF3399;
		font-size: 10px;
		text-transform: uppercase;
		font-family: Helvetica,Arial,sans-serif,'細明體';
	}

	.fl_tb h2 em.xi1, .tl .new .xi1 {
		background: url({STATICURL}image/plus/common/new.gif) no-repeat scroll 5px 50% transparent;
		padding-left: 20px;
		line-height: 1.6em;
		height: 11px;

		font-size: 8px;
		font-family: Verdana;

		/* 跨瀏覽器的 inline-block */
		display: -moz-inline-stack;
		display: inline-block;
		zoom: 1;
		*display: inline;

		vertical-align: middle;
	}

/** end **/

/** forum::forumdisplay,group **/

	.tl .num a.xi2 {
		color: #0099FF;
	}

	.tl .num em {
		color: #9933CC;
	}

	.tl th a:hover {
		color: #0099FF;
	}

/** end **/