/*
[name]国庆[/name]
[iconbgcolor]#C52802[/iconbgcolor]
Powered by Discuz! X
*/

body { background: #FCFAF0 url(bgimg.jpg) no-repeat 50% 0; }
#toptb { background:#C52802 !important; border-bottom:1px solid #AD2302; opacity: 0.75; }
#toptb a { color:#FFF; }
#diy-tg { width:46px; background: url(panel-toggle.png) no-repeat 100% 4px; text-indent: -9999px; overflow: hidden; }
.pipe { color:#FFF; }
#nv { background: url(nv.png) no-repeat 0 0 /*!important*/; height: 33px;overflow:hidden;}
	#nv ul { padding-left:2px;}
	#nv li { background: url(nv_a.png) no-repeat 100% 0 /*!important*/; padding-right:0 /*!important*/;}
	#nv li a { color:#FFF; margin-left:3px;}
	#nv li.a { background: url(nv_a.png) no-repeat 1px -33px /*!important*/; color:#FFF;}
	#nv li.a a,	#nv li.a a:hover { background: url(nv_a.png) no-repeat 100% -66px /*!important*/; color:#CC8202;}
	#nv li a:hover, #nv li.hover a {background:none;color:#FFF;}
	#nv li.hover { background: url(nv_a.png) no-repeat 1px -33px /*!important*/; }
	#nv li.hover a:hover, #nv li.hover a { background: url(nv_a.png) no-repeat 100% -66px; color:#CC8202; }
.widthauto #nv {background: url(nv.png) repeat-x 0 -33px /*!important*/;border-width:0;}
	#qmenu { background-image: url(qmenu.png); }
	#qmenu_menu { border-color: #E2D1B8; }
#scbar, #scbar_form, .scbar_icon_td, .scbar_txt_td, .scbar_type_td, .scbar_btn_td { background-image: url(search.png); }
#scbar { border-color: #EFEFEF; }

.bm_h, .tl th, .tl td { border-bottom-color: #CDCDCD; }
.fl .bm_h { border-color: #E2D1B8; background: #FDFDB8 url(titlebg.png) repeat-x 0 0; }
.bmw .bm_h a { color:#CC8202; }
#um, #um a { color:#FFF; }
.fastlg_l { border-right:1px solid #AD2302; }

.pnpost .pnc { background: url(pn_post_btn.png) no-repeat;border:0; box-shadow: 0 0px 0 #E5E5E5; padding:0 2px; color:#333 /*!important*/; }
.ie7 .pn em, .ie7 .pn span, .ie7 .pn strong { padding: 0; line-height: 18px; }


/* wholebackground */
.wp { background:#FFF; }
#toptb .wp, #hd .wp { background:none; }

/* path #pt --> Path */
#pt { margin: 0; }
#pt, #chart { padding:0 10px; }

/* 重定义 {SPECIALBG} */
.bmn, .bm_h, td.pls, .ad td.plc, div.exfm, .tb a, .tb_h, .ttp li.a a, div.uo a, input#addsubmit_btn, #gh .bm .bm_h, .appnew, .apphot { background-color: #FDF4D8; }

.ct2_a, .ct3_a { background: url(vlineb.png) repeat-y; }
.tbn li.a { background: #FCFAF0; }
	#nv_portal.pg_portalcp .ct2_a_r, #nv_forum.pg_post .ct2_a_r { background-image: none; }

/* 重定义 {SPECIALBORDER} */
.bmn, .pg a, .pgb a, .pg strong, .card, .card .o, div.exfm  { border-color: #FC6; }
.pg strong { background-color: #FC6; }
.pn, .tb .o, .tb .o a { background-image: url(pn.png);color:#333; }
	.pnc, a.pnc, .tb .o { border-color:#DE8F00; color:#333 !important; }


.ad td.pls { background-color: #FC6; }

/* 重定义字体 */
#qmenu, .fl .bm_h h2 a, .xi1, #um .new, .topnav .new, .sch .new, .el .ec .hot em, .pll .s a.joins { color: #CA4312; }
.pll .s a.go { color: #FFF; }
.xi2, .xi2 a { color: #333; }
.pn em, .pn strong { font-weight:400; }

/* 重定义按钮 */
.pgs #newspecial, .pgs #newspecialtmp { float: left; background: url(pn_post.png) no-repeat 0 0; }
#post_reply, #post_replytmp { float: left; background: url(pn_reply.png) no-repeat 0 0; width:80px; height:33px;}
	#newspecial img, #newspecialtmp img, #post_reply img, #post_replytmp img { opacity: 0; filter: alpha(opacity=0); }
.moodfm_btn { background-image: url(mood_input_btn.png) /*!important*/; }
#create_group_btn { display: block; background: url(create_group.png) no-repeat 0 0; }
	#create_group_btn img { opacity: 0; filter: alpha(opacity=0); }
.el .ec .hot { background-image: url(hotspot.gif); }
.pll .s { background-image:url(polljoins.gif); }

/* 重定义 Tab */
.tb .a a { border-bottom-color: #FCFAF0; background: #FCFAF0; }

/* 重定义侧边导航 */
.bdl, .bdl dt, .bdl dd.bdl_a a { border-color: #FDF4D8; background-color: #FDF4D8; }
	.bdl dt { background-image: url(titlebg_sd.png); }
.bdl dd.bdl_a a { color: #CA4312; }

/* 重定义下拉菜单 */
.p_pop a { border-bottom-color: #FDF4D8; }
	.p_pop a:hover, .p_pop a.a, #sctype_menu .sca { background-color: #FDF4D8; color: #E98B00; }
	.blk a:hover { background-color: transparent; }

.flbc { background: url(cls.gif) no-repeat 0 0; }

/* 重定义好友列表 */
#nv_home .buddy li { background-color: transparent; border: none; }

/* threadtype */
.ttp a, .ttp strong { background: #F2F2F2; }
.ttp .a a { border:1px solid #e98b00 /*!important*/; border-bottom:0; background: #FDF4D8; color: #e98b00 /*!important*/; }
.ttp a:hover, .ttp .a a:hover { background: #FBFBE2; border:1px solid #e98b00 /*!important*/; color: #e98b00 /*!important*/; border-bottom:0; }
.pbr { background-color:#FCA507; }

/* bluelovers */

.fl_tb h2 a, #g_commend .bm_c dl.xld dt a {
	color: #BA350F;
}

.xi2, .xi2 a, .xi3 a {
	color: #CC8202;
}