/*
[name]绿[/name]
[iconbgcolor]#abc503[/iconbgcolor]
Powered by Discuz! X
*/
html { background: #FFF url(background.png) repeat-x left top; }
body { background:none; }
#eis_bg .eis_bg1{ background:url(eis_bg1.jpg) no-repeat left top!important;}
#eis_bg .eis_bg2{background:url(eis_bg2.jpg) no-repeat right top!important;}
#hd h2{ background:url(logo_bg.png) no-repeat left center!important;}
#eis_nv .eis_ul li.a {background:url(eis_nv_li.png) no-repeat left center!important;}
	#eis_nv .eis_ul  li.a a { background:url(eis_nv_a.jpg) no-repeat right center!important;}
	#eis_nv .eis_ul li a:hover { text-decoration:none; background:url(eis_nv_a.jpg) no-repeat right center!important;}
	#eis_nv .eis_ul li:hover {background:url(eis_nv_li.png) no-repeat left center!important;}
	#eis_nv .eis_ul li.hover {background:url(eis_nv_li.png) no-repeat left center!important;}
	#eis_nv .eis_ul li.hover a{background:url(eis_nv_a.jpg) no-repeat right center!important;}
#qmenu { background-image: url(qmenu.png);color:#FFF!important; }
/*ie6*/
 .ie6 #qmenu{ background:url(eis_qmenu.png) no-repeat 0 0!important;}
	.ie6 .scbar_icon_td {background: url(eis_ie6s.png) no-repeat 0 -74px!important; }
				.ie6 .scbar_txt_td,.ie6 .scbar_type_td { background: url(eis_ie6s.png) repeat-x 0 -222px!important; }
				.ie6 .scbar_btn_td {background: url(eis_ie6s.png) no-repeat right -296px!important; }
				.ie6 .scbar_type_td { background: url(eis_ie6s.png) no-repeat 0 -370px!important; }
	.ie6 #eis_nv .eis_ul li.a { margin-left:1px; margin-right:1px;background:url(eis_ie6nv_li.png) no-repeat left center!important;}
	.ie6 #eis_nv .eis_ul li:hover { background:none!important;}
	.ie6 #eis_nv .eis_ul li a:hover{ background:none!important; text-decoration:underline;}
	.ie6 #eis_nv .eis_ul li.hover {background:none!important;}
	.ie6 #eis_nv .eis_ul li.hover a{background:none!important;}		

/*字体颜色*/
	#pt a{ color:#505050!important;}
	#chart a{ color:#899E12!important;}
	#ct .bm_h h2 a{color:#505050!important;}
	#ct .bm_h a{ color:#899E12!important;}
	#ct .bm_c td h2 a{color:#505050!important;}
	#ct .bm_c td.fl_by a{color:#899E12!important;}
	#ct .bm_c td.fl_i .xi2{color:#899E12!important;}
/**/
#eis_fl .bm_h{ background:#B3CB22!important; color:#FFF;}

/* 重定义 {SPECIALBG} */
.bmn, .bm_h, td.pls, .ad td.plc, div.exfm, .tb a, .tb_h, .ttp li.a a, div.uo a, input#addsubmit_btn, #gh .bm .bm_h, .appnew, .apphot { background-color: #EBF5F6; }

.ct2_a, .ct3_a { background-image: url(vlineb.png); }
.tbn li.a { background: #FFF; }
	#nv_portal.pg_portalcp .ct2_a_r, #nv_forum.pg_post .ct2_a_r { background-image: none; }

/* 重定义 {SPECIALBORDER} */
.bmn, .pg a, .pgb.a, .pg strong, .card, .card .o, div.exfm  { border-color: #899E12; }
.pg strong { background-color: #899E12; color:#FFF;}
.pn, .tb .o, .tb .o a { background-image: url(pn.png); }
	.pnc, a.pnc, .tb .o { border-color: #788A01; }

/* 重定义字体 */
#qmenu, .fl .bm_h h2 a, .xi1, #um .new, .topnav .new, .sch .new, .el .ec .hot em, .pll .s a.joins { color: #899E12; }
.pll .s a.go { color: #FFF; }
.xi2, .xi2 a { color: #000; }

/* 重定义按钮 */
.pgs #newspecial, .pgs #newspecialtmp { float: left; background: url(pn_post.png) no-repeat 0 0; }
#post_reply, #post_replytmp { float: left; background: url(pn_reply.png) no-repeat 0 0; }
	#newspecial img, #newspecialtmp img, #post_reply img, #post_replytmp img { opacity: 0; filter: alpha(opacity=0); }
.moodfm_btn { background-image: url(mood_input_btn.png) !important; }
#create_group_btn { display: block; background: url(create_group.png) no-repeat 0 0; }
	#create_group_btn img { opacity: 0; filter: alpha(opacity=0); }
.el .ec .hot { background-image: url(hotspot.gif); }
.pll .s { background-image:url(polljoins.gif); }

/* 重定义侧边导航 */
.bdl, .bdl dt, .bdl dd.bdl_a a { border-color: #C2D5E3; background-color: #EBF5F6; }
	.bdl dt { background-image: url(titlebg_sd.png); }
.bdl dd.bdl_a a { color: #899E12; }

/* 重定义下拉菜单 */
.p_pop a { border-bottom-color: #F1F1F1; }
	.p_pop a:hover, .p_pop a.a, #sctype_menu .sca { background-color: #B3CB22; color: #899E12; }
	.blk a:hover { background-color: transparent; }
/*快速发帖*/
#f_pst{ background:F1F1F1!important;}
#f_pst .bm_h{ background:#F1F1F1!important;}
/**/
#thread_types li.a a{ background:none!important; border:1px solid #F1F1F1; color:#899E12!important;}
#thread_types li a:hover{ background:none!important; border:1px solid #F1F1F1; color:#899E12!important;}	