/*
[name]配色-2[/name]
[iconbgcolor]#429296[/iconbgcolor]
Powered by Discuz! X
*/

body { background-image: url(background.png); }
#nv { background-color: #429296; background-image: url(nv.png); }
	#nv li { background-image: url(nv_a.png) !important; }
	#nv li.a { background: #005D5D url(nv_a.png) no-repeat 50% 100%; }
	#qmenu { background-image: url(qmenu.png); }

.fl .bm_h { border-color: #C5E6DF; background: #EBF5F6 url(titlebg.png) repeat-x 0 0; }

/* 重定義 {SPECIALBG} */
.appl, .bmn, .bmw .bm_h, .pn, td.pls, .ad td.plc, div.exfm, .tb a, .tb_h, .ttp li.a a, div.uo a, input#addsubmit_btn, #gh .bm .bm_h { background-color: #EBF5F6; }

/* 重定義 {SPECIALBORDER} */
.bmn, .pg a, .pgb.a, .pg strong, .card, .card .o, div.exfm  { border-color: #C5E6DF; }
.pg strong { background-color: #C5E6DF; }
.pn { border-color: #C5E6DF #666 #666 #C5E6DF; }


.ad td.pls { background-color: #C5E6DF; }

/* 重定義字體 */
.xi1, #um .new, .topnav .new, .sch .new, .el .ec .hot em, .pll .s a.joins { color: #BA350F; }
.pll .s a.go { color: #FFF; }
.xi2, .xi2 a { color: #000; }

/* 重定義按鈕 */
.pgs #newspecial, .pgs #newspecialtmp { float: left; background: url(pn_post.png) no-repeat 0 0; }
#post_reply, #post_replytmp { float: left; background: url(pn_reply.png) no-repeat 0 0; }
	#newspecial img, #newspecialtmp img, #post_reply img, #post_replytmp img { opacity: 0; filter: alpha(opacity=0); }
.moodfm_btn { background-image: url(mood_input_btn.png) !important; }
#create_group_btn { display: block; background: url(create_group.png) no-repeat 0 0; }
	#create_group_btn img { opacity: 0; filter: alpha(opacity=0); }
.tb .o, .tb .o a { background-image: url(pnp2.png); }
.el .ec .hot { background-image: url(hotspot.gif); }
.pll .s { background-image:url(polljoins.gif); }