
/* 字型 */
@font-face {
	font-family: '04b08';
	src:	local('04b03b'), local("04b08"),
			url({STATICURL}image/seccode/font/en/04B_03B_.ttf);
	/*font-weight: lighter;*/
	/*font-style: normal;*/
}

/**
 * 使排行列表的文字不會自動斷行到下一段
 **/
.xl ol li, ol.xl li {
	overflow: hidden;
}

/**
 * 限制板塊選擇 MENU 的最大高度
 **/
div#fid_ctrl_menu
/**
 * 主題分類選單
 **/
, div#typeid_fast_ctrl_menu
, div#typeid_ctrl_menu
{ max-height: 20em; overflow-y: auto; }

/**
 * 強調當查詢為空時的樣式
 **/
p.emp { color: red; }
.emp { border: 1px dashed red; }
.emp .emp { padding-top: 0px; border: 0px none #ffffff; }

/**
 * 導航列表字型尺寸由 14px 轉為網站預設尺寸
 **/
.appl li
{ font: {FONTSIZE} {FONT}; font-family: inherit; }

/**
 * 紀錄 doing 列表有使用到
 **/
.xs2
{ font: {FONTSIZE} {FONT} !important; font-family: inherit; }

/* 表情 */
.sllt { max-width: 400px; }
.slg { min-height:33px; }

/* doing 內的表情 */
.face { vertical-align: middle; }

/* avatar */

.avatar_small { max-height: 48px; max-width: 48px; }
.avatar_small_19 { max-height: 19px; max-width: 19px; }
.avatar_small_48 { max-height: 48px; max-width: 48px; }
.avatar_middle { max-height: 120px; max-width: 120px; }
.avatar_big { max-height: auto; max-width: auto; }
