
/** forum::forumdisplay,forum::viewthread,forum::modcp,group,home::space,home::task,search::forum,search::group,member::groupexpiry,misc::ranklist,misc::stat,misc::tag **/
	.rate_credit_add { color: red; }
	.rate_credit_reduce { color: green; }

	.tl .xi1.new {
		background: url({STATICURL}image/plus/common/new.gif) no-repeat 5px 50%;
		padding-left: 20px;
		font-size:10px;
		font-family:Verdana;
	}

	.tl th *, .tl td.icn *, .tl td.o * { vertical-align: middle; }
/** end **/

/** forum::viewthread,group::viewthread,forum::trade,portal::view **/
	/* 圖片縮放的背景 */
	.zoominner { overflow: hidden; }
	.zoominner #imgzoom_img { background-image: url({STATICURL}image/plus/bg/alpha.gif); }
	.zoominner div.ptn.pbn { background: {WRAPBG}; }

	/* spvimg,spi 為活動、商品公用部分 */
	.spi dl { font: {FONTSIZE} {FONT}; font-family: inherit; }
/** end **/

/** forum::viewthread,portal::view,portal::comment,home::space **/
	/* 日誌 */
	.vw .d { font: {FONTSIZE} {FONT}; font-family: inherit; }
/** end **/

/**  forum::forumdisplay,forum::viewthread,group::viewthread,home::space,home::spacecp,home::invite,portal::view,portal::comment,forum::post,group::post **/
	/* 修正於彈出窗內的 引用 寬度及高度 */
	.fwinmask .quote {
		width: auto;
	}
		.fwinmask .quote blockquote {
			overflow-y: scroll;
			max-height: 6em;
			max-width: 240px;
		}

		.quote blockquote {
			/* 跨瀏覽器的 inline-block */
			display: -moz-inline-stack;
			display: inline-block;
			zoom: 1;
			*display: inline;
		}
/** end **/

/** forum,group **/

	/* 編輯器內的彈出選單 editor_menu */
	.editortoolbar .p_pop {
		min-width: 80px;
		max-height: 300px;

		overflow-y: auto;
		overflow-x: visible;
	}

	h1.ts #thread_subject, #share_ul h1.ph, .vw .ph, .pcb h1, .pcb h2 {
		font-family: Microsoft YaHei,arial,tahoma,sans-serif,verdana,Georgia,Arial,Helvetica,sans-serif;
		text-shadow: 0 1px 0 #FFFFFF, 0 -1px 3px #BEBEBE;
		font-weight: 800;
	}

	h1.ts #thread_subject, #share_ul h1.ph, .vw .ph {
		font-size:32px;
	}

	/* 主題內標題字的樣式 */
	h1.bbcode_headline, h2.bbcode_headline, h3.bbcode_headline, h4.bbcode_headline, h5.bbcode_headline, h6.bbcode_headline {
		font-family: Microsoft YaHei,arial,tahoma,sans-serif,verdana,Georgia,Arial,Helvetica,sans-serif;
		text-shadow: 0 1px 0 #FFFFFF, 0 -1px 3px #BEBEBE;
		font-weight: bold;
		margin:8px 0;
		border-bottom: 1px dashed #C7D5E7;
	}
	.pcb h1.bbcode_headline, .plc h1.ts #thread_subject, h1.bbcode_headline { font-size:32px; color: #FF6600; }
	.pcb h2.bbcode_headline, .pcb h3.bbcode_headline, h2.bbcode_headline, h3.bbcode_headline, h2.post_subject { color: #009900; font-size: 1.5em; letter-spacing: 1px; }
	.pcb h3.bbcode_headline, h3.bbcode_headline { color:#006699; font-size: 1.32em; }
	.pcb h4.bbcode_headline, h4.bbcode_headline { letter-spacing:1px; }
	.pcb h5.bbcode_headline, h5.bbcode_headline, .pcb h6.bbcode_headline, h6.bbcode_headline { }
/** end **/
