
/* 避免否些狀況下網頁字形失效 */
html { font: {FONTSIZE} {FONT}; color: {TABLETEXT}; }

/**
 * 使排行列表的文字不會自動斷行到下一段
 **/
.xl ol li, ol.xl li {
	overflow: hidden;
}

/**
 * 限制板塊選擇 MENU 的最大高度
 **/
div#fid_ctrl_menu
/**
 * 主題分類選單
 **/
, div#typeid_fast_ctrl_menu
, div#typeid_ctrl_menu
{ max-height: 20em; overflow-y: auto; }

/**
 * 強調當查詢為空時的樣式
 **/
p.emp { color: red; }
.emp { border: 1px dashed red; }
.emp .emp { padding-top: 0px; border: 0px none #ffffff; }

/**
 * 導航列表字型尺寸由 14px 轉為網站預設尺寸
 **/
.appl li
{ font: {FONTSIZE} {FONT}; font-family: inherit; }

/**
 * 紀錄 doing 列表有使用到
 **/
.xs2
{ font: {FONTSIZE} {FONT} !important; font-family: inherit; }

/* 表情 */
.sllt { max-width: 400px; }
.slg { min-height:33px; }

/* doing 內的表情 */
.face { vertical-align: middle; }

/* avatar */

.avatar_small { max-height: 48px; max-width: 48px; }
.avatar_small_19 { max-height: 19px; max-width: 19px; }
.avatar_small_48 { max-height: 48px; max-width: 48px; }
.avatar_middle { max-height: 120px; max-width: 120px; }
.avatar_big { max-height: auto; max-width: auto; }

/* for box style */

.t_msg_plus {
	margin; 10px 10px;
}

.t_msg_plus table {
	border-collapse: collapse;
}

.t_msg_plus td, .t_msg_plus tr {
	padding: 0;
	border: 0px none {BORDERCOLOR};
}

.i-l	{ background-repeat: no-repeat; background-position-x: right; background-position-y: medium; background-position: right medium; }
.i-m	{ background-repeat: repeat-x; background-position-x: right; background-position-y: medium; background-position: right medium; }
.i-r	{ background-repeat: no-repeat; background-position-x: left; background-position-y: medium; background-position: left medium; }

.i-box { border-collapse: collapse }

.i-tl {
	background-repeat: no-repeat;
	background-position: right bottom;
}
.i-tm {
	background-repeat: repeat-x;
	background-position: left bottom;
	background-position-y: bottom;
}
.i-tr	{
	background-repeat: no-repeat;
	background-position: left bottom;
}

.i-ml	{
	background-repeat: repeat-y;
	background-position-x: 100%;
	background-position: right top;
	padding: 0 0 0 0;
}
.i-mm {  }
.i-mr	{
	background-repeat: repeat-y;
	background-position-x: left;
}

.i-bl	{
	background-repeat: no-repeat;
	background-position: right top;
}
.i-bm	{
	background-repeat: repeat-x;
	background-position: right top;
	background-position-y: top;
}
.i-br	{
	background-repeat: no-repeat;
	background-position: left top;
}

@namespace url(http://www.w3.org/1999/xhtml);

/* 顯示圖片錯誤 */
@-moz-document url-prefix(http), url-prefix(file) {
	img:-moz-broken{
		-moz-force-broken-image-icon:1;
		min-width:24px;
		min-height:24px;
	}
}

/* 被選取時的顏色與背景 */
::selection { background-color: #DD0044; color: #FFFFFF; }
::-moz-selection { background-color: #DD0044; color: #FFFFFF; }

/* Hides from IE-mac \*/

.clearfix {display: inline-block;}

* html .clearfix {height: 1%;}
.clearfix {display: block;}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}

/* End hide from IE-mac */
