
/** forum::forumdisplay,forum::viewthread,forum::modcp,group,home::space,home::task,search::forum,search::group,member::groupexpiry,misc::ranklist,misc::stat,misc::tag **/
	.rate_credit_add { color: red; }
	.rate_credit_reduce { color: green; }

	.tl .xi1.new {
		background: url({STATICURL}image/plus/common/new.gif) no-repeat 5px 50%;
		padding-left: 20px;
		font-size:10px;
		font-family:Verdana;
	}

	.tl td.icn *, .tl td.o * { vertical-align: middle; }
	.tl th > * { vertical-align: middle; }
/** end **/

/** forum::viewthread,group::viewthread,forum::trade,forum::misc **/

	/* 修正雙重間距 */
	.pls .avatar img.avatar
	/* 用戶詳細信息 */
	, .bui a img.avatar
	{
		margin: 0;
	}

	.pls .avatar {
		overflow: hidden;
	}

	/* 用戶詳細信息 頭像底下 的並排連結 */
	.pls .o li, .pls .o li * {
		word-break: keep-all;
		white-space: nowrap;
		overflow: hidden;
	}

	.rate dd ul li a {
		word-break: keep-all;
		white-space: nowrap;
	}

	/*評分連結*/
	.misc_rate, .misc_removerate {
	 	background-image: url({IMGDIR}/agree.gif);
		background-position: 0 50%;
		background-repeat: no-repeat;
		display: inline-block;
		/*
		height: 20px;
		line-height: 20px;
		*/
		padding-left: 22px;
   }

   .misc_removerate {
		background-image: url({IMGDIR}/disagree.gif);
   }

/** end **/

/** forum::viewthread,group::viewthread,forum::trade,portal::view **/
	/* 圖片縮放的背景 */
	.zoominner { overflow: hidden; }
	.zoominner #imgzoom_img, #CB_ImgContainer { background-image: url({STATICURL}image/plus/bg/alpha.gif); }
	.zoominner div.ptn.pbn { background: {WRAPBG}; }

	/* spvimg,spi 為活動、商品公用部分 */
	.spi dl { font: {FONTSIZE} {FONT}; font-family: inherit; }
/** end **/

/** forum::viewthread,portal::view,portal::comment,home::space **/
	/* 日誌 */
	.vw .d { font: {FONTSIZE} {FONT}; font-family: inherit; }
/** end **/

/**  forum::forumdisplay,forum::viewthread,group::viewthread,home::space,home::spacecp,home::invite,portal::view,portal::comment,forum::post,group::post **/
	/* 修正於彈出窗內的 引用 寬度及高度 */
	.fwinmask .quote {
		width: auto;
	}
		.fwinmask .quote blockquote {
			overflow-y: scroll;
			max-height: 6em;
			max-width: 240px;
		}

		.quote blockquote {
			/* 跨瀏覽器的 inline-block */
			display: -moz-inline-stack;
			display: inline-block;
			zoom: 1;
			*display: inline;
		}
/** end **/

/** forum,group **/

	/* 編輯器內的彈出選單 editor_menu */
	.editortoolbar .p_pop {
		min-width: 80px;
		max-height: 300px;

		overflow-y: auto;
		overflow-x: visible;
	}

	h1.ts #thread_subject, #share_ul h1.ph, .vw .ph, .pcb h1, .pcb h2 {
		font-family: Microsoft YaHei,arial,tahoma,sans-serif,verdana,Georgia,Arial,Helvetica,sans-serif;
		text-shadow: 0 1px 0 #FFFFFF, 0 -1px 3px #BEBEBE;
		font-weight: 800;
	}

	h1.ts #thread_subject, #share_ul h1.ph, .vw .ph {
		font-size:32px;
	}

	/* 主題內標題字的樣式 */
	h1.bbcode_headline, h2.bbcode_headline, h3.bbcode_headline, h4.bbcode_headline, h5.bbcode_headline, h6.bbcode_headline {
		font-family: Microsoft YaHei,arial,tahoma,sans-serif,verdana,Georgia,Arial,Helvetica,sans-serif;
		text-shadow: 0 1px 0 #FFFFFF, 0 -1px 3px #BEBEBE;
		font-weight: bold;
		margin:8px 0;
		border-bottom: 1px dashed #C7D5E7;
	}
	.pcb h1.bbcode_headline, .plc h1.ts #thread_subject, h1.bbcode_headline { font-size:32px; color: #FF6600; }
	.pcb h2.bbcode_headline, .pcb h3.bbcode_headline, h2.bbcode_headline, h3.bbcode_headline, h2.post_subject { color: #009900; font-size: 1.5em; letter-spacing: 1px; }
	.pcb h3.bbcode_headline, h3.bbcode_headline { color:#006699; font-size: 1.32em; }
	.pcb h4.bbcode_headline, h4.bbcode_headline { letter-spacing:1px; }
	.pcb h5.bbcode_headline, h5.bbcode_headline, .pcb h6.bbcode_headline, h6.bbcode_headline { }

	.fl_tb h2 em.xi1, .tl .new a.xi1 {
		background: url({STATICURL}image/plus/common/new.gif) no-repeat scroll 5px 50% transparent;
		padding-left: 20px;
		line-height: 1.6em;
		height: 11px;

		font-size: 8px;
		font-family: Verdana;

		/* 跨瀏覽器的 inline-block */
		display: -moz-inline-stack;
		display: inline-block;
		zoom: 1;
		*display: inline;

		vertical-align: middle;
	}

	/* 評分列表樣式 */

	.rate { margin-top: 50px; }
	.rate .cr_extitle {
		width: 100%;
		top: -20px;
		position: absolute;
		height: auto;
		overflow: hidden;
		margin-bottom: 15px;
	}
	.cr_ratl {
		border: {SPECIALBORDER} 1px solid;
		background: {WRAPBG};
		position: relative;
		padding-top: 40px;

		padding-left: 10px;
		padding-right: 10px;
	}

	/*
	.rate .cr_extitle li {
		height: 50px;
		width: auto;
		overflow: hidden;
		padding-left: 8px;
		float: left;
		margin-right: 10px;
		background: url({STATICURL}image/plus/common/cr_extitle.gif) no-repeat 0 0;
	}
	.cr_extitle li span {
		height: 50px;
		width: auto;
		display: block;
		_float: left;
		overflow: hidden;
		padding-right: 8px;
		background: url({STATICURL}image/plus/common/cr_extitle.gif) no-repeat right 0;
		color: #999;
	}
	*/

	.rate .cr_extitle li {
		border: 1px solid {CONTENTSEPARATE};

		-moz-border-radius-topleft: 6px;
		-moz-border-radius-topright: 6px;
		-moz-border-radius-bottomright: 6px;
		-moz-border-radius-bottomleft: 6px;

		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;

		background-color: {WRAPBG};

		height: auto;
		max-height: 50px;
		min-height:  30px;

		width: auto;
		overflow: hidden;

		margin-right: 10px;

		padding: 5px 8px;

		color: {LIGHTTEXT};

		text-align: center;
	}

	.rate .cr_extitle li.y {
		float: right;
		height: 30px;
		line-height: 30px;
		margin-right: 30px;
	}

	.rate .cr_extitle li.y span {
		margin-left: 5px;
	}

	.rate .cr_extitle li.avt {
		height: 25px;
		min-height: 25px;
	}

	.cr_extitle li strong,
	.cr_extitle li strong a {
		display: block;
		font-weight: bold;
		color: {NOTICETEXT};
		font: 22px/25px "Arial";
	}

	.ratl {
		margin-bottom: 5px;
		padding-left: 10px;
	}
	/*
	.ratl th {
		width: 110px;
		border: 0;
		padding-left: 10px;
	}
	*/
	/*
	.ratl th img {
		border: #ddd 1px solid;
		padding: 1px;
	}
	*/
	.ratl td { border: 0; }
	/*
	.ratl td.xi1 { width:120px;background:url({IMGDIR}/agree.gif) no-repeat 0 11px; padding-left:18px;}
	p.ratc {
		height: 22px;
		line-height: 22px;
		padding: 0;
		text-align: right;
		border: 0;
		padding-right: 10px;
	}
	*/

	.cr_ratl {
		-moz-border-radius-topleft: 6px;
		-moz-border-radius-topright: 6px;
		-moz-border-radius-bottomright: 6px;
		-moz-border-radius-bottomleft: 6px;

		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
	}

	.cm .pstl .sctpl_reply
	{
		background:url({IMGDIR}/cmmnt.gif) no-repeat scroll 0 50% transparent;
		padding:5px 10px 5px 25px;
	}

	.cm .dtls {
		background:url({IMGDIR}/treeline_short.gif) no-repeat 5px 2px;
		min-height: 24px;
	}

	.cm .dtll {
		background:url({IMGDIR}/treeline_long.gif) no-repeat 2.5em 2px;
		min-height: 24px;
	}
/** end **/

/** home::space **/
	.space_doing .sctpl_reply
	, .space_feed_li .sctpl_reply
	, #share_ul .sctpl_reply
	{
		background:url({IMGDIR}/cmmnt.gif) no-repeat scroll 0 50% transparent;
		padding:5px 10px 5px 25px;
	}

	.space_doing .sctpl_message img
	, .space_doing_li .sctpl_message img
	{
		vertical-align: bottom;
	}

	/* 小頭像的大小(紀錄列表內) */
	.xlda dd img.avatar_small_19 {
		height: 19px;
		width: 19px;

		vertical-align: middle;
		display: inline;
	}

	.space_doing_li li:hover .avt img.avatar {
		border-color: {LINK};
	}
/** end **/

/** home::spacecp **/
.mi .avatar a { position: relative; }
			.ie6 .avatar a { float: left; }
			.mi .avatar a:hover { text-decoration: none; }
			.mi .avatar a span { display: none; position: absolute; bottom: 3px; padding: 5px 0; width: 100%; text-align: center; background: transparent; background: rgba(255, 255, 255, 0.5); cursor: pointer; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr = #50FFFFFF, endColorstr = #50FFFFFF); }
				.mi .avatar a:hover span { display: block; }
				.mi .avatar img { padding: 3px; border: 1px solid {COMMONBORDER}; }

				.mi a.o { margin-right: 5px; padding-left: 18px; background: url({IMGDIR}/mine_icn.png) no-repeat 0 50%; }

#moodfm {}
		#moodfm textarea { min-width: 310px; height: 56px; border: 1px solid; border-color: {INPUTBORDERDARKCOLOR} {INPUTBORDER} {INPUTBORDER} {INPUTBORDERDARKCOLOR}; overflow-y: auto; }
		.mi .moodfm_input { width: 350px; height: 58px; background: {COMMONBORDER} url({IMGDIR}/mood_input.png) no-repeat 0 0; }
			.mi .hover .moodfm_input { background-color: {SPECIALBORDER}; }
			.mi #moodfm textarea { margin: 3px 0 0 6px; padding: 0; width: 341px; height: 51px; outline: none; border: none; }
		.moodfm_btn { padding-left: 5px; background: url({IMGDIR}/mood_input_btn.png) no-repeat 5px 0; }
			.moodfm_btn button { width: 58px; height: 58px; cursor: pointer; opacity: 0; filter: alpha(opacity=0); }
		.moodfm_f { padding: 5px 0 0 3px; }
/** end **/
