
/** forum::forumdisplay,forum::viewthread,forum::modcp,group,home::space,home::task,search::forum,search::group,member::groupexpiry,misc::ranklist,misc::stat,misc::tag **/
	.rate_credit_add { color: red; }
	.rate_credit_reduce { color: green; }

	.tl .xi1.new {
		background: url({STATICURL}image/plus/common/new.gif) no-repeat 5px 50%;
		padding-left: 20px;
		font-size:10px;
		font-family:Verdana;
	}

	.tl th *, .tl td.icn *, .tl td.o * { vertical-align: middle; }
/** end **/

/** forum::viewthread,group::viewthread,forum::trade,portal::view **/
	/* 圖片縮放的背景 */
	.zoominner { overflow: hidden; }
	.zoominner #imgzoom_img { background-image: url({STATICURL}image/plus/bg/alpha.gif); }
	.zoominner div.ptn.pbn { background: {WRAPBG}; }

	/* spvimg,spi 為活動、商品公用部分 */
	.spi dl { font: {FONTSIZE} {FONT}; font-family: inherit; }
/** end **/

/** forum::viewthread,portal::view,portal::comment,home::space **/
	/* 日誌 */
	.vw .d { font: {FONTSIZE} {FONT}; font-family: inherit; }
/** end **/
