	</div>
<!--{if empty($topic) || ($topic[usefooter])}-->
	<!--{eval $focusid = getfocus_rand($_G[basescript]);}-->
	<!--{if $focusid !== null}-->
		<!--{eval $focus = $_G['cache']['focus']['data'][$focusid];}-->
		<div class="focus" id="sitefocus">
			<div class="bm">
				<div class="bm_h cl">
					<a href="javascript:;" onclick="setcookie('nofocus_$focusid', 1, $_G['cache']['focus']['cookie']*3600);$('sitefocus').style.display='none'" class="y" title="{lang close}">{lang close}</a>
					<h2><!--{if $_G['cache']['focus']['title']}-->{$_G['cache']['focus']['title']}<!--{else}-->{lang focus_hottopics}<!--{/if}--></h2>
				</div>
				<div class="bm_c">
					<dl class="xld cl bbda">
						<dt><a href="{$focus['url']}" class="xi2" target="_blank">$focus['subject']</a></dt>
						<!--{if $focus[image]}-->
						<dd class="m"><a href="{$focus['url']}" target="_blank"><img src="{$focus['image']}" alt="$focus['subject']" /></a></dd>
						<!--{/if}-->
						<dd>$focus['summary']</dd>
					</dl>
					<p class="ptn hm"><a href="{$focus['url']}" class="xi2" target="_blank">{lang focus_show} &raquo;</a></p>
				</div>
			</div>
		</div>
	<!--{/if}-->

	<!--{ad/footerbanner/wp a_f/1}--><!--{ad/footerbanner/wp a_f/2}--><!--{ad/footerbanner/wp a_f/3}-->
	<!--{ad/float/a_fl/1}--><!--{ad/float/a_fr/2}-->
	<!--{ad/couplebanner/a_fl a_cb/1}--><!--{ad/couplebanner/a_fr a_cb/2}-->
	<!--{ad/cornerbanner/a_cn}-->

	<!--{hook/global_footer}-->
	<div id="ft" class="wp cl">
		<div id="flk" class="y">
			<p>
				<!--{loop $_G['setting']['footernavs'] $nav}--><!--{if $nav['available'] && ($nav['type'] && (!$nav['level'] || ($nav['level'] == 1 && $_G['uid']) || ($nav['level'] == 2 && $_G['adminid'] > 0) || ($nav['level'] == 3 && $_G['adminid'] == 1)) ||
						!$nav['type'] && ($nav['id'] == 'stat' && $_G['group']['allowstatdata'] || $nav['id'] == 'report' && $_G['uid'] || $nav['id'] == 'archiver' || $nav['id'] == 'mobile'))}--><!--{if $nav['id'] == 'mobile' && $_G['setting']['mobile']['allowmobile'] != 1}--><!--{eval continue;}--><!--{/if}-->$nav[code]<span class="pipe">|</span><!--{/if}--><!--{/loop}-->
						<strong><a href="$_G['setting']['siteurl']" target="_blank">$_G['setting']['sitename']</a></strong>
				<!--{if $_G['setting']['icp']}-->( <a href="http://www.miitbeian.gov.cn/" target="_blank">$_G['setting']['icp']</a> )<!--{/if}-->
				<!--{hook/global_footerlink}-->
				<!--{if $_G['setting']['statcode']}-->$_G['setting']['statcode']<!--{/if}-->
			</p>
			<p class="xs0">
				{lang time_now}
				<span id="debuginfo">
				<!--{if debuginfo()}-->, Processed in $_G[debuginfo][time] second(s), $_G[debuginfo][queries] queries
					<!--{if $_G['gzipcompress']}-->, Gzip On<!--{/if}--><!--{if $_G['memory']}-->, <!--{echo ucwords($_G['memory'])}--> On<!--{/if}-->.
				<!--{/if}-->
				</span>
			</p>
		</div>
		<div id="frt">
			<p>Powered by <strong><a href="http://www.discuz.net" target="_blank">Discuz!</a></strong> <em>$_G['setting']['version']</em><!--{if !empty($_G['setting']['boardlicensed'])}--> <a href="http://license.comsenz.com/?pid=1&host=$_SERVER[HTTP_HOST]" target="_blank">Licensed</a><!--{/if}--></p>
			<p class="xs0">&copy; 2001-2011 <a href="http://www.comsenz.com" target="_blank">Comsenz Inc.</a></p>
		</div>
		<!--{eval updatesession();}-->
		<!--{if $_G['uid'] && $_G['group']['allowinvisible']}-->
		<script type="text/javascript">
		var invisiblestatus = '<!--{if $_G['session']['invisible']}-->{lang login_invisible_mode}<!--{else}-->{lang login_normal_mode}<!--{/if}-->';
		var loginstatusobj = $('loginstatusid');
		if(loginstatusobj != undefined && loginstatusobj != null) loginstatusobj.innerHTML = invisiblestatus;
		<!--{/if}-->
		</script>
	</div>

	<!--{if $upgradecredit !== false}-->
		<div id="g_upmine_menu" class="tip tip_3" style="display:none;">
			<div class="tip_c">
				{lang credits} $_G[member][credits], {lang thread_groupupgrade} $upgradecredit {lang credits}
			</div>
			<div class="tip_horn"></div>
		</div>
	<!--{/if}-->
<!--{/if}-->

<!--{if !$_G['setting']['bbclosed']}-->
	<!--{if $_G[uid] && !isset($_G['cookie']['checkpm'])}-->
	<script type="text/javascript" src="home.php?mod=spacecp&ac=pm&op=checknewpm&rand=$_G[timestamp]"></script>
	<!--{/if}-->

	<!--{if !isset($_G['cookie']['sendmail'])}-->
	<script type="text/javascript" src="home.php?mod=misc&ac=sendmail&rand=$_G[timestamp]"></script>
	<!--{/if}-->
<!--{/if}-->

<!--{if $_GET['diy'] == 'yes'}-->
	<!--{if (CURMODULE == 'topic' || $_G['group']['allowdiy']) && (empty($do) || $do != 'index') && !empty($_G['style']['tplfile'])}-->
		<script type="text/javascript" src="{$_G[setting][jspath]}common_diy.js?{VERHASH}"></script>
		<script type="text/javascript" src="{$_G[setting][jspath]}portal_diy.js?{VERHASH}"></script>
	<!--{/if}-->
	<!--{if $space['self'] && CURMODULE == 'space' && $do == 'index'}-->
		<script type="text/javascript" src="{$_G[setting][jspath]}common_diy.js?{VERHASH}"></script>
		<script type="text/javascript" src="{$_G[setting][jspath]}space_diy.js?{VERHASH}"></script>
	<!--{/if}-->
<!--{/if}-->
<!--{if $_G['member']['newprompt'] && (empty($_G['cookie']['promptstate_'.$_G[uid]]) || $_G['cookie']['promptstate_'.$_G[uid]] != $_G['member']['newprompt']) && $_G['gp_do'] != 'notice'}-->
	<script type="text/javascript">noticeTitle();</script>
<!--{/if}-->

<!--{eval userappprompt();}-->
<!--{if $_G['basescript'] != 'userapp'}-->
<span id="scrolltop" onclick="window.scrollTo('0','0')">{lang scrolltop}</span>
<script type="text/javascript">_attachEvent(window, 'scroll', function(){showTopLink();});</script>
<!--{/if}-->

<div id="fb-root"></div>
<script type="text/javascript">
window.fbAsyncInit = function() {
	FB.init({appId:'$_G['cache']['plugin']['facebook_connect']['appid']', status:true, cookie:true, xfbml:true, channelUrl:'{$_G[siteurl]}channel.html'});
<!--{if $_G[tid]}-->
	<!--{if $_G['like'] == 'no'}-->
	FB.Event.subscribe('edge.create', function() {
		location.replace('forum.php?mod=viewthread&tid={$_G[tid]}&page={$_G[page]}&todo=like');
	});
	<!--{if $_G['fbc'] && $_G['cache']['plugin']['facebook_ltv']['fctv']}-->
	FB.Event.subscribe('comment.create', function() {
		location.replace('forum.php?mod=viewthread&tid={$_G[tid]}&page={$_G[page]}&todo=fcomm');
	});
	<!--{/if}-->
	<!--{/if}-->
	FB.Event.subscribe('edge.remove', function() {
		fbshare();
	});
	<!--{if $_G['like'] && $_G['fbc'] && $_G['cache']['plugin']['facebook_ltv']['fctv']}-->
	FB.Event.subscribe('comment.remove', function() {
		location.replace('forum.php?mod=viewthread&tid={$_G[tid]}&page={$_G[page]}&todo=unfcomm');
	});
	<!--{/if}-->
<!--{/if}-->
};
(function() {
	var e = document.createElement('script');
	e.src = document.location.protocol + '//connect.facebook.net/zh_TW/all.js';
	e.async = true;
	document.getElementById('fb-root').appendChild(e);
}());
<!--{if $_G[tid]}-->
function fbshare() {
	FB.ui({
		method: 'feed',
		name: '$_G[forum_thread][subject]',
		<!--{if in_array('forum_viewthread', $_G['setting']['rewritestatus'])}-->
		link: '$_G[siteurl]thread-{$_G[tid]}-1-1.html',
		<!--{else}-->
		link: '$_G[siteurl]forum.php?mod=viewthread&tid=$_G[tid]',
		<!--{/if}-->
		<!--{if $iattrs}-->
		picture: '$iattrs',
		<!--{/if}-->
		caption: '$_G['setting']['bbname']',
		description: '{if !empty($metadescription)}{echo htmlspecialchars($metadescription)}{/if}',
		message: ''
	}, function(response) {
		<!--{if $_G['like']}-->
		if (response && response.post_id) {
			location.replace('forum.php?mod=viewthread&tid={$_G[tid]}&page={$_G[page]}&todo=unlike');
		} else {
			location.replace('forum.php?mod=viewthread&tid={$_G[tid]}&page={$_G[page]}&todo=unlike');
		}
		<!--{/if}-->
	});
}
function fbsend() {
	FB.ui({
		method: 'send',
		app_id: '$_G['cache']['plugin']['facebook_connect']['appid']',
		name: '$_G[forum_thread][subject]',
		<!--{if in_array('forum_viewthread', $_G['setting']['rewritestatus'])}-->
		link: '$_G[siteurl]thread-{$_G[tid]}-1-1.html',
		<!--{else}-->
		link: '$_G[siteurl]forum.php?mod=viewthread&tid=$_G[tid]',
		<!--{/if}-->
		<!--{if $iattrs}-->
		picture: '$iattrs',
		<!--{/if}-->
		description: '{if !empty($metadescription)}{echo htmlspecialchars($metadescription)}{/if}'
	});
}
function fbinvite() {
	FB.ui({
		method: 'apprequests',
		message: '{lang facebook_invite_friend_addmsg}',
		filters: "['app_non_users']",
		title: '{lang facebook_invite_friend_add} {$_G['setting']['bbname']}'
	});
}
<!--{/if}-->
function fblogin() {
	FB.login(function(response) {
		if (response.session) {
			if (response.perms) {
				location.replace('fblogin.php?act=logging&rf='+urlencode(location.href));
			} else {
				location.replace('index.php');
			}
		} else {
			location.replace('index.php');
		}
	}, {perms:'email,user_likes,publish_stream'});
}
function urlencode(str) {
	var output = '', x = 0, regex = /(^[a-zA-Z0-9_.]*)/;
	str = str.toString();
	while (x < str.length) {
		var match = regex.exec(str.substr(x));
		if (match != null && match.length > 1 && match[1] != '') {
			output += match[1];
			x += match[1].length;
		} else {
			if (str[x] == ' ') {
				output += '+';
			} else {
				var charCode = str.charCodeAt(x), hexVal = charCode.toString(16);
				output += '%' + ( hexVal.length < 2 ? '0' : '' ) + hexVal.toUpperCase();
			}
			x++;
		}
	}
	return output;
}
</script>

<!--{eval output();}-->
</body>
</html>
