<!--{if $_G['setting']['search']}-->
	<!--{eval $slist = array();}-->
	<!--{if $_G['fid'] && $_G['forum']['status'] != 3 && $mod != 'group'}--><!--{block slist[forumfid]}--><li><a href="javascript:;" rel="curforum" class="curtype">{lang search_this_forum}</a></li><!--{/block}--><!--{/if}-->
	<!--{if $_G['setting']['portalstatus'] && $_G['setting']['search']['portal']['status'] && ($_G['group']['allowsearch'] & 1 || $_G['adminid'] == 1)}--><!--{block slist[portal]}--><li><a href="javascript:;" rel="article"{if CURSCRIPT == 'portal'} class="curtype"{/if}>{lang article}</a></li><!--{/block}--><!--{/if}-->
	<!--{if $_G['setting']['search']['forum']['status'] && ($_G['group']['allowsearch'] & 2 || $_G['adminid'] == 1)}--><!--{block slist[forum]}--><li><a href="javascript:;" rel="forum"{if (CURSCRIPT == 'forum' && !$_G['fid']) || (CURSCRIPT == 'home' && in_array($do, array('thread', 'activity', 'poll', 'reward', 'debate', 'trade')))} class="curtype"{/if}>{lang thread}</a></li><!--{/block}--><!--{/if}-->
	<!--{if $_G['setting']['homestatus'] && $_G['setting']['search']['blog']['status'] && ($_G['group']['allowsearch'] & 4 || $_G['adminid'] == 1)}--><!--{block slist[blog]}--><li><a href="javascript:;" rel="blog"{if CURSCRIPT == 'home' && $do == 'blog'} class="curtype"{/if}>{lang blog}</a></li><!--{/block}--><!--{/if}-->
	<!--{if $_G['setting']['homestatus'] && $_G['setting']['search']['album']['status'] && ($_G['group']['allowsearch'] & 8 || $_G['adminid'] == 1)}--><!--{block slist[album]}--><li><a href="javascript:;" rel="album"{if CURSCRIPT == 'home' && $do == 'album'} class="curtype"{/if}>{lang album}</a></li><!--{/block}--><!--{/if}-->
	<!--{if $_G['setting']['groupstatus'] && $_G['setting']['search']['group']['status'] && ($_G['group']['allowsearch'] & 16 || $_G['adminid'] == 1)}--><!--{block slist[group]}--><li><a href="javascript:;" rel="group"{if CURSCRIPT == 'group' || $_G['basescript']=='group'} class="curtype"{/if}>$_G['setting']['navs'][3]['navname']</a></li><!--{/block}--><!--{/if}-->
	<!--{block slist[user]}--><li><a href="javascript:;" rel="user"{if CURSCRIPT == 'home' && !in_array($do, array('blog', 'album', 'thread', 'activity', 'poll', 'reward', 'debate', 'trade'))} class="curtype"{/if}>{lang users}</a></li><!--{/block}-->
	<!--{if $slist}-->
	<div id="sc" class="y">
		<!--{eval $searchparams = makeSearchSignUrl();}-->
		<form id="sc_form" method="{if $_G[fid] && !empty($searchparams[0])}get{else}post{/if}" autocomplete="off" onsubmit="searchFocus($('srchtxt'))" action="{if $_G[fid] && !empty($searchparams[0])}$searchparams[0]{else}search.php?searchsubmit=yes{/if}" target="_blank">
			<input type="hidden" name="formhash" value="{FORMHASH}" />
			<input type="hidden" name="mod" id="sc_mod" value="title" />
			<input type="hidden" name="srhfid" value="$_G[fid]" />
			<input type="hidden" name="srhlocality" value="$_G['basescript']::{CURMODULE}" />
			<!--{if !empty($searchparams[1])}-->
				<!--{loop $searchparams[1] $key $value}-->
				<input type="hidden" name="$key" value="$value" />
				<!--{/loop}-->
			<!--{/if}-->
			<table cellspacing="0" cellpadding="0">
				<tr>
					<td id="sc_txt_td"><input type="text" name="srchtxt" id="sc_txt" class="px z" value="{lang enter_content}" autocomplete="off" /></td>
					<td id="sc_type_td"><span id="sc_type_w" class="px z"><a href="javascript:;" id="sc_type" class="showmenu xg1" onclick="showMenu(this.id);">{lang search}</a></span></td>
					<td id="sc_btn_td"><button type="submit" name="searchsubmit" id="sc_btn" class="pn pnc" value="true"><strong>{lang search}</strong></button></td>
				</tr>
			</table>
			<div id="sc_type_menu" class="p_pop cl" style="display: none">
				<ul>
					<!--{echo implode('', $slist);}-->
				</ul>
			</div>
		</form>
		<script type="text/javascript">initSearchmenu('scbar', '$searchparams[0]');</script>
	</div>
	<!--{/if}-->
<!--{/if}-->